<div id="content">
  <div id="top-img">
		<img src="../../assets/img/company/Slide-NeverSummer-3.jpg" alt="">
    <div class="overlay" style="background-color:rgba(0,0,0,0.1)">
						<div class="clapat-caption dark-bg">
							<div class="caption-content bottom-left"></div>
						</div>
					</div>
	</div>

  <div id="main">
    <div class="container">
        <br>
        <br>
        <br>
        <br>
					<h1 class="title-has-line">Company</h1>
					<p>Never Summer’s reputation of quality and durability began in the early years of snowboarding. Designing and building snowboards since 1983 has given us years of experience in testing and perfecting our snowboard designs and construction methods.
						We’ve recently taken this experience building snowboards and brought it to the world of longboarding. The end result of our experience coupled with a close working relationship with the world’s leading raw materials manufacturers and engineers allows
						us to bring you the most durable, high performance boards on the planet! Each board is carefully handcrafted in our Denver, Colorado factory to precision tolerances. Our domestic manufacturing and our ability to improve upon existing technologies
						resulted in Never Summer being awarded the first patent on any type of hybrid camber technology. We allow only the world’s best snowboard shops to sell our products.</p>

					<blockquote>Focusing less on excessive promotion and hype, and more on using the highest quality materials, craftsmanship, and customer service has made Never Summer the world’s premier independent board company.
						<span>- Tracey and Tim Canaday</span></blockquote>
				</div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
  </div>
</div>