<div id="content">
    <div class="top-parallax" style="background-image:url('../../../assets/img/company/news/news.jpg')"></div>
    
    <div id="main">
      <div class="container">
        <h1 class="title-has-line text-align-center">News Feed</h1>

        <ul class="our-team">
          <li class="team-member" style="background-image:url('../../../assets/img/company/news/1-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.png');">
            <div class="team-overflow">
              <div class="team-info">
                <h5 class="team-name">3 Is Better Than 2</h5>
                <p class="monospace title-has-line team-function">19-Oct-2015</p>
                <p class="team-description">3 vs 2 pressure areas </p>
                <a href="../news-feed/3-is-better-than-2.html" class="clapat-button outline-button">Read More</a>
              </div>
            </div>
          </li>
          <li class="team-member" style="background-image:url('../../../assets/img/company/news/Untitled-1-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.png');">
            <div class="team-overflow">
              <div class="team-info">
                <h5 class="team-name">3 Is Better Than 2</h5>
                <p class="monospace title-has-line team-function">21-Oct-2015</p>
                <p class="team-description">3 vs 2 pressure areas</p>
                <a href="../news-feed/3-is-better-than-2-1.html" class="clapat-button outline-button">Read More</a>
              </div>
            </div>
          </li>
          <li class="team-member" style="background-image:url('../../../assets/img/company/news/3v2blog-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.png');">
            <div class="team-overflow">
              <div class="team-info">
                <h5 class="team-name">3 is better than 2</h5>
                <p class="monospace title-has-line team-function">28-Oct-2015</p>
                <p class="team-description">The 3 pressure points in the Never Summer profile vs 2 found in others</p>
                <a href="../news-feed/3-is-better-than-2-3.html" class="clapat-button outline-button">Read More</a>
              </div>
            </div>
          </li>
          <li class="team-member" style="background-image:url('../../../assets/img/company/news/3v2again-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
            <div class="team-overflow">
              <div class="team-info">
                <h5 class="team-name">3 is way better than 2</h5>
                <p class="monospace title-has-line team-function">03-Nov-2015</p>
                <p class="team-description">Find out why!</p>
                <a href="../news-feed/3-is-way-better-than-2.html" class="clapat-button outline-button">Read More</a>
              </div>
            </div>
          </li>
          <li class="team-member" style="background-image:url('../../../assets/img/company/news/fun1-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
            <div class="team-overflow">
              <div class="team-info">
                <h5 class="team-name">Awesome Asym!</h5>
                <p class="monospace title-has-line team-function">02-Mar-2015</p>
                <p class="team-description">The new NS Funslinger!</p>
                <a href="../news-feed/awesome-asym.html" class="clapat-button outline-button">Read More</a>
              </div>
            </div>
          </li>
          <li class="team-member" style="background-image:url('../../../assets/img/company/news/bill1-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
            <div class="team-overflow">
              <div class="team-info">
                <h5 class="team-name">Bill Rodriguez at Breck</h5>
                <p class="monospace title-has-line team-function">02-Mar-2015</p>
                <p class="team-description">Take a hot Lap With Bill Rodriguez at Keystone...</p>
                <a href="../news-feed/bill-rodriguez-at-breck.html" class="clapat-button outline-button">Read More</a>
              </div>
            </div>
          </li>
          <li class="team-member" style="background-image:url('../../../assets/img/company/news/BI_TC_INT-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
            <div class="team-overflow">
              <div class="team-info">
                <h5 class="team-name">Board Insiders and Tracey Canaday</h5>
                <p class="monospace title-has-line team-function">14-Sep-2016</p>
                <p class="team-description">Interview with owner Tracey Canaday about Never Summer</p>
                <a href="../news-feed/board-insiders-and-tracey-canaday.html" class="clapat-button outline-button">Read More</a>
              </div>
            </div>
          </li>
          <li class="team-member" style="background-image:url('../../../assets/img/company/news/warlockboardinsiders1-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
            <div class="team-overflow">
              <div class="team-info">
                <h5 class="team-name">Board Insiders Preview Review</h5>
                <p class="monospace title-has-line team-function">23-Jun-2016</p>
                <p class="team-description">See a sneak peak on the Never Summer Warlock review!</p>
                <a href="../news-feed/board-insiders-preview-review.html" class="clapat-button outline-button">Read More</a>
              </div>
            </div>
          </li>
          <li class="team-member" style="background-image:url('../../../assets/img/company/news/candredit-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
            <div class="team-overflow">
              <div class="team-info">
                <h5 class="team-name">Catch and Release</h5>
                <p class="monospace title-has-line team-function">29-Mar-2016</p>
                <p class="team-description">The Never Summer West</p>
                <a href="../news-feed/catch-and-release.html" class="clapat-button outline-button">Read More</a>
              </div>
            </div>
          </li>
          <li class="team-member" style="background-image:url('../../../assets/img/company/news/chairmanreview-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
            <div class="team-overflow">
              <div class="team-info">
                <h5 class="team-name">Chairman Review</h5>
                <p class="monospace title-has-line team-function">07-Mar-2016</p>
                <p class="team-description">Read about the Chairman</p>
                <a href="../news-feed/chairman-review.html" class="clapat-button outline-button">Read More</a>
              </div>
            </div>
          </li>
          <li class="team-member" style="background-image:url('../../../assets/img/company/news/chase-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
            <div class="team-overflow">
              <div class="team-info">
                <h5 class="team-name">Chase Blackwell in the Pools</h5>
                <p class="monospace title-has-line team-function">07-Jul-2015</p>
                <p class="team-description">Chase Blackwell tearing it up on our pool deck, the Revival</p>
                <a href="../news-feed/chase-blackwell-in-the-pools.html" class="clapat-button outline-button">Read More</a>
              </div>
            </div>
          </li>
          <li class="team-member" style="background-image:url('../../../assets/img/company/news/chriscorn-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
            <div class="team-overflow">
              <div class="team-info">
                <h5 class="team-name">Chris Corning Quick Edit</h5>
                <p class="monospace title-has-line team-function">24-Sep-2015</p>
                <p class="team-description">A quick edit of team rider Chris Corning tearing it up..</p>
                <a href="../news-feed/chris-corning-quick-edit.html" class="clapat-button outline-button">Read More</a>
              </div>
            </div>
          </li>
          <li class="team-member" style="background-image:url('../../../assets/img/company/news/lb1-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
            <div class="team-overflow">
              <div class="team-info">
                <h5 class="team-name">Copper 2 Frisco Party</h5>
                <p class="monospace title-has-line team-function">02-Mar-2015</p>
                <p class="team-description">Longboard party at Copper to Frisco</p>
                <a href="../news-feed/copper-2-frisco-party.html" class="clapat-button outline-button">Read More</a>
              </div>
            </div>
          </li>
          <li class="team-member" style="background-image:url('../../../assets/img/company/news/lbedit-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
            <div class="team-overflow">
              <div class="team-info">
                <h5 class="team-name">Copper to Frisco</h5>
                <p class="monospace title-has-line team-function">02-Mar-2015</p>
                <p class="team-description">Longboard Edit</p>
                <a href="../news-feed/copper-to-frisco.html" class="clapat-button outline-button">Read More</a>
              </div>
            </div>
          </li>
          <li class="team-member" style="background-image:url('../../../assets/img/company/news/cc-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
            <div class="team-overflow">
              <div class="team-info">
                <h5 class="team-name">Corning's Season Edit</h5>
                <p class="monospace title-has-line team-function">08-Sep-2015</p>
                <p class="team-description">Chris is getting ready for this year...</p>
                <a href="../news-feed/cornings-season-edit.html" class="clapat-button outline-button">Read More</a>
              </div>
            </div>
          </li>
          <li class="team-member" style="background-image:url('../../../assets/img/company/news/dadsdayoff-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
            <div class="team-overflow">
              <div class="team-info">
                <h5 class="team-name">Dad's Day Off</h5>
                <p class="monospace title-has-line team-function">16-Mar-2016</p>
                <p class="team-description">Watch how Dad rides the Proto Type Two</p>
                <a href="../news-feed/dads-day-off.html" class="clapat-button outline-button">Read More</a>
              </div>
            </div>
          </li>
          <li class="team-member" style="background-image:url('../../../assets/img/company/news/drporken1-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
            <div class="team-overflow">
              <div class="team-info">
                <h5 class="team-name">Dr Porkenheimer Science</h5>
                <p class="monospace title-has-line team-function">02-Mar-2015</p>
                <p class="team-description">Never Summer's Snowboard Science Guy</p>
                <a href="../news-feed/dr-porkenheimer-science.html" class="clapat-button outline-button">Read More</a>
              </div>
            </div>
          </li>
          <li class="team-member" style="background-image:url('../../../assets/img/company/news/Wingmanedit-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
            <div class="team-overflow">
              <div class="team-info">
                <h5 class="team-name">Everyone needs a Wingman!</h5>
                <p class="monospace title-has-line team-function">16-May-2016</p>
                <p class="team-description">New Never Summer Wingman!</p>
                <a href="../news-feed/everyone-needs-a-wingman.html" class="clapat-button outline-button">Read More</a>
              </div>
            </div>
          </li>
          <li class="team-member" style="background-image:url('../../../assets/img/company/news/woodward-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
            <div class="team-overflow">
              <div class="team-info">
                <h5 class="team-name">Funnest place on Earth</h5>
                <p class="monospace title-has-line team-function">01-Feb-2015</p>
                <p class="team-description">Never Summer at Woodward at Copper camp!</p>
                <a href="../news-feed/funnest-place-on-earth.html" class="clapat-button outline-button">Read More</a>
              </div>
            </div>
          </li>
          <li class="team-member" style="background-image:url('../../../assets/img/company/news/FunReview-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.png');">
            <div class="team-overflow">
              <div class="team-info">
                <h5 class="team-name">Funslinger Review</h5>
                <p class="monospace title-has-line team-function">14-Aug-2015</p>
                <p class="team-description">Never Summer Funslinger review... check it out!</p>
                <a href="../news-feed/funslinger-review.html" class="clapat-button outline-button">Read More</a>
              </div>
            </div>
          </li>
          <li class="team-member" style="background-image:url('../../../assets/img/company/news/gallatin-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.png');">
            <div class="team-overflow">
              <div class="team-info">
                <h5 class="team-name">Gallatin and World Boards</h5>
                <p class="monospace title-has-line team-function">20-Oct-2015</p>
                <p class="team-description">Montana shops with custom boards!</p>
                <a href="../news-feed/gallatin-and-world-boards.html" class="clapat-button outline-button">Read More</a>
              </div>
            </div>
          </li>
          <li class="team-member" style="background-image:url('../../../assets/img/company/news/fun2-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
            <div class="team-overflow">
              <div class="team-info">
                <h5 class="team-name">How the hell did they do that?!</h5>
                <p class="monospace title-has-line team-function">02-Mar-2015</p>
                <p class="team-description">This is 'how the hell' we did it...</p>
                <a href="../news-feed/how-the-hell-did-they-do-that.html" class="clapat-button outline-button">Read More</a>
              </div>
            </div>
          </li>
          <li class="team-member" style="background-image:url('../../../assets/img/company/news/dangbud-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
            <div class="team-overflow">
              <div class="team-info">
                <h5 class="team-name">Introducing... 'Dang Bud!'</h5>
                <p class="monospace title-has-line team-function">02-Mar-2015</p>
                <p class="team-description">Never Summer's 'Dang Bud!' 2014/15 Snowboard Video</p>
                <a href="../news-feed/introducing-dang-bud.html" class="clapat-button outline-button">Read More</a>
              </div>
            </div>
          </li>
          <li class="team-member" style="background-image:url('../../../assets/img/company/news/jesse-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
            <div class="team-overflow">
              <div class="team-info">
                <h5 class="team-name">Jesse on the Revival</h5>
                <p class="monospace title-has-line team-function">19-May-2015</p>
                <p class="team-description">Jesse Mondragon on the Revival</p>
                <a href="../news-feed/jesse-on-the-revival.html" class="clapat-button outline-button">Read More</a>
              </div>
            </div>
          </li>
          <li class="team-member" style="background-image:url('../../../assets/img/company/news/justinhotlap-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
            <div class="team-overflow">
              <div class="team-info">
                <h5 class="team-name">Justin Henigin at Breckenridge.</h5>
                <p class="monospace title-has-line team-function">02-Mar-2015</p>
                <p class="team-description">Taking hot laps...</p>
                <a href="../news-feed/justin-henigin-at-breckenridge.html" class="clapat-button outline-button">Read More</a>
              </div>
            </div>
          </li>
          <li class="team-member" style="background-image:url('../../../assets/img/company/news/openday11-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
            <div class="team-overflow">
              <div class="team-info">
                <h5 class="team-name">Loveland Opening Day</h5>
                <p class="monospace title-has-line team-function">29-Nov-2016</p>
                <p class="team-description">Opening day at Loveland! </p>
                <a href="../news-feed/loveland-opening-day.html" class="clapat-button outline-button">Read More</a>
              </div>
            </div>
          </li>
          <li class="team-member" style="background-image:url('../../../assets/img/company/news/loveland1-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
            <div class="team-overflow">
              <div class="team-info">
                <h5 class="team-name">Loveland Opening Day 2015</h5>
                <p class="monospace title-has-line team-function">03-Nov-2015</p>
                <p class="team-description">First day of the season!</p>
                <a href="../news-feed/loveland-opening-day-2015.html" class="clapat-button outline-button">Read More</a>
              </div>
            </div>
          </li>
          <li class="team-member" style="background-image:url('../../../assets/img/company/news/momsdayoff-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
            <div class="team-overflow">
              <div class="team-info">
                <h5 class="team-name">Mom's Day Off</h5>
                <p class="monospace title-has-line team-function">08-Mar-2016</p>
                <p class="team-description">Women's Proto Type Two</p>
                <a href="../news-feed/moms-day-off.html" class="clapat-button outline-button">Read More</a>
              </div>
            </div>
          </li>
          <li class="team-member" style="background-image:url('../../../assets/img/company/news/T2Smonarch15-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
            <div class="team-overflow">
              <div class="team-info">
                <h5 class="team-name">Monarch T2S</h5>
                <p class="monospace title-has-line team-function">01-May-2015</p>
                <p class="team-description">Ticket to Shred winners up at Monarch!</p>
                <a href="../news-feed/monarch-t2s.html" class="clapat-button outline-button">Read More</a>
              </div>
            </div>
          </li>
          <li class="team-member" style="background-image:url('../../../assets/img/company/news/factory_april12-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
            <div class="team-overflow">
              <div class="team-info">
                <h5 class="team-name">Never Summer Factory</h5>
                <p class="monospace title-has-line team-function">12-Apr-2016</p>
                <p class="team-description">See how the most durable longboards are made!</p>
                <a href="../news-feed/never-summer-factory.html" class="clapat-button outline-button">Read More</a>
              </div>
            </div>
          </li>
          <li class="team-member" style="background-image:url('../../../assets/img/company/news/open-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
            <div class="team-overflow">
              <div class="team-info">
                <h5 class="team-name">Never Summer Factory Open House</h5>
                <p class="monospace title-has-line team-function">16-May-2015</p>
                <p class="team-description">Factory Open House - come play games, demo longboards, factory tours, free giveaways and more!</p>
                <a href="../news-feed/never-summer-factory-open-house.html" class="clapat-button outline-button">Read More</a>
              </div>
            </div>
          </li>
          <li class="team-member" style="background-image:url('../../../assets/img/company/news/2poker-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
            <div class="team-overflow">
              <div class="team-info">
                <h5 class="team-name">Never Summer Poker Run</h5>
                <p class="monospace title-has-line team-function">19-Jun-2015</p>
                <p class="team-description">Never Summer Poker Run through Denver Highlands</p>
                <a href="../news-feed/never-summer-poker-run.html" class="clapat-button outline-button">Read More</a>
              </div>
            </div>
          </li>
          <li class="team-member" style="background-image:url('../../../assets/img/company/news/lyle-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
            <div class="team-overflow">
              <div class="team-info">
                <h5 class="team-name">Never Summer Rider Lyle Killin It</h5>
                <p class="monospace title-has-line team-function">15-Jun-2015</p>
                <p class="team-description">Never Summer team rider, Lyle, killin' it down Lookout Mountain</p>
                <a href="../news-feed/never-summer-rider-lyle-killin-it.html" class="clapat-button outline-button">Read More</a>
              </div>
            </div>
          </li>
          <li class="team-member" style="background-image:url('../../../assets/img/company/news/val-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
            <div class="team-overflow">
              <div class="team-info">
                <h5 class="team-name">Never Summer's Valentino Guseli</h5>
                <p class="monospace title-has-line team-function">23-Sep-2015</p>
                <p class="team-description">10 year old Aussie and Never Summer rider, Val, tears it up at Perisher</p>
                <a href="../news-feed/never-summers-valentino-guseli.html" class="clapat-button outline-button">Read More</a>
              </div>
            </div>
          </li>
          <li class="team-member" style="background-image:url('../../../assets/img/company/news/dimevideo16-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
            <div class="team-overflow">
              <div class="team-info">
                <h5 class="team-name">New Never Summer Dime</h5>
                <p class="monospace title-has-line team-function">20-Apr-2016</p>
                <p class="team-description">The Dime is the perfect slash and stash deck!</p>
                <a href="../news-feed/new-never-summer-dime.html" class="clapat-button outline-button">Read More</a>
              </div>
            </div>
          </li>
          <li class="team-member" style="background-image:url('../../../assets/img/company/news/Untitled-1-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
            <div class="team-overflow">
              <div class="team-info">
                <h5 class="team-name">New Zealand Banked Slalom</h5>
                <p class="monospace title-has-line team-function">23-Aug-2015</p>
                <p class="team-description">Treble Cone, New Zealand, DB Export Banked Slalom</p>
                <a href="../news-feed/new-zealand-banked-slalom.html" class="clapat-button outline-button">Read More</a>
              </div>
            </div>
          </li>
          <li class="team-member" style="background-image:url('../../../assets/img/company/news/kidsdayoff-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
            <div class="team-overflow">
              <div class="team-info">
                <h5 class="team-name">No School...</h5>
                <p class="monospace title-has-line team-function">22-Mar-2016</p>
                <p class="team-description">Never Summer Mini Proto...</p>
                <a href="../news-feed/no-school.html" class="clapat-button outline-button">Read More</a>
              </div>
            </div>
          </li>
          <li class="team-member" style="background-image:url('../../../assets/img/company/news/chair-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
            <div class="team-overflow">
              <div class="team-info">
                <h5 class="team-name">NS Chairman reviews are in!</h5>
                <p class="monospace title-has-line team-function">02-Mar-2015</p>
                <p class="team-description">Read more about what people thought about the Chairman...</p>
                <a href="../news-feed/ns-chairman-reviews-are-in.html" class="clapat-button outline-button">Read More</a>
              </div>
            </div>
          </li>
          <li class="team-member" style="background-image:url('../../../assets/img/company/news/poker-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
            <div class="team-overflow">
              <div class="team-info">
                <h5 class="team-name">NS Poker Run 2014</h5>
                <p class="monospace title-has-line team-function">01-Mar-2015</p>
                <p class="team-description">Never Summer Longboard Poker Run in Denver CO...</p>
                <a href="../news-feed/ns-poker-run-2014.html" class="clapat-button outline-button">Read More</a>
              </div>
            </div>
          </li>
          <li class="team-member" style="background-image:url('../../../assets/img/company/news/calendarimages-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
            <div class="team-overflow">
              <div class="team-info">
                <h5 class="team-name">Prospector Split Review</h5>
                <p class="monospace title-has-line team-function">30-Apr-2015</p>
                <p class="team-description">Spring time means great backcountry snowboarding! Check out this review...</p>
                <a href="../news-feed/prospector-split-review.html" class="clapat-button outline-button">Read More</a>
              </div>
            </div>
          </li>
          <li class="team-member" style="background-image:url('../../../assets/img/company/news/protofamily-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
            <div class="team-overflow">
              <div class="team-info">
                <h5 class="team-name">Proto Family</h5>
                <p class="monospace title-has-line team-function">01-Mar-2016</p>
                <p class="team-description">New for next year...</p>
                <a href="../news-feed/proto-family.html" class="clapat-button outline-button">Read More</a>
              </div>
            </div>
          </li>
          <li class="team-member" style="background-image:url('../../../assets/img/company/news/pebs-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
            <div class="team-overflow">
              <div class="team-info">
                <h5 class="team-name">Proto Type Two Under Investigation</h5>
                <p class="monospace title-has-line team-function">29-Nov-2016</p>
                <p class="team-description">Never Summer's Proto Type Two under investigation for using PEBs and winning Good Wood</p>
                <a href="../news-feed/proto-type-two-under-investigation.html" class="clapat-button outline-button">Read More</a>
              </div>
            </div>
          </li>
          <li class="team-member" style="background-image:url('../../../assets/img/company/news/tailgate1-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
            <div class="team-overflow">
              <div class="team-info">
                <h5 class="team-name">Tailgate AK Episode 1</h5>
                <p class="monospace title-has-line team-function">02-Mar-2015</p>
                <p class="team-description">See the adventures of heading out to Tailgate last spring...</p>
                <a href="../news-feed/tailgate-ak-episode-1.html" class="clapat-button outline-button">Read More</a>
              </div>
            </div>
          </li>
          <li class="team-member" style="background-image:url('../../../assets/img/company/news/tailgate2-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
            <div class="team-overflow">
              <div class="team-info">
                <h5 class="team-name">Tailgate AK Episode 2</h5>
                <p class="monospace title-has-line team-function">02-Mar-2015</p>
                <p class="team-description">Episode 2 of the trip to Tailgate AK...</p>
                <a href="../news-feed/tailgate-ak-episode-2.html" class="clapat-button outline-button">Read More</a>
              </div>
            </div>
          </li>
          <li class="team-member" style="background-image:url('../../../assets/img/company/news/tailgate3-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
            <div class="team-overflow">
              <div class="team-info">
                <h5 class="team-name">Tailgate AK Episode 3</h5>
                <p class="monospace title-has-line team-function">02-Mar-2015</p>
                <p class="team-description">Final episode of Tailgate...</p>
                <a href="../news-feed/tailgate-ak-episode-3.html" class="clapat-button outline-button">Read More</a>
              </div>
            </div>
          </li>
          <li class="team-member" style="background-image:url('../../../assets/img/company/news/Untitled-1-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.png');">
            <div class="team-overflow">
              <div class="team-info">
                <h5 class="team-name">The Future of Snowboarding is Now!</h5>
                <p class="monospace title-has-line team-function">15-Dec-2015</p>
                <p class="team-description">The new Never Summer Type Two...</p>
                <a href="../news-feed/the-future-of-snowboarding-is-now.html" class="clapat-button outline-button">Read More</a>
              </div>
            </div>
          </li>
          <li class="team-member" style="background-image:url('../../../assets/img/company/news/Demos2_Cal.jpg');">
            <div class="team-overflow">
              <div class="team-info">
                <h5 class="team-name">The Never Summer Swift. It's Just a Powder Board...</h5>
                <p class="monospace title-has-line team-function">23-Feb-2016</p>
                <p class="team-description">Andrew Buergin and Mary Boddington hit Crested Butte on the Never Summer Swift. </p>
                <a href="../news-feed/the-never-summer-swift-its-just-a-powder-board.html" class="clapat-button outline-button">Read More</a>
              </div>
            </div>
          </li>
          <li class="team-member" style="background-image:url('../../../assets/img/company/news/thundervalley-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
            <div class="team-overflow">
              <div class="team-info">
                <h5 class="team-name">Thunder Valley</h5>
                <p class="monospace title-has-line team-function">01-Jun-2015</p>
                <p class="team-description">Never Summer goes to Thunder Valley</p>
                <a href="../news-feed/thunder-valley.html" class="clapat-button outline-button">Read More</a>
              </div>
            </div>
          </li>
          <li class="team-member" style="background-image:url('../../../assets/img/company/news/eljefereview-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
            <div class="team-overflow">
              <div class="team-info">
                <h5 class="team-name">Try the El Jefe</h5>
                <p class="monospace title-has-line team-function">08-Mar-2016</p>
                <p class="team-description">Review from Tye Donneley, Oceanside, CA </p>
                <a href="../news-feed/el-jefe.html" class="clapat-button outline-button">Read More</a>
              </div>
            </div>
          </li>
          <li class="team-member" style="background-image:url('../../../assets/img/company/news/tyepost-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
            <div class="team-overflow">
              <div class="team-info">
                <h5 class="team-name">Tye Donnely</h5>
                <p class="monospace title-has-line team-function">19-Aug-2015</p>
                <p class="team-description">Longboarding Colorado</p>
                <a href="../news-feed/tye-donnely.html" class="clapat-button outline-button">Read More</a>
              </div>
            </div>
          </li>
          <li class="team-member" style="background-image:url('../../../assets/img/company/news/fam-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
            <div class="team-overflow">
              <div class="team-info">
                <h5 class="team-name">Welcome to the Family</h5>
                <p class="monospace title-has-line team-function">02-Mar-2015</p>
                <p class="team-description">This is Never Summer...</p>
                <a href="../news-feed/welcome-to-the-family.html" class="clapat-button outline-button">Read More</a>
              </div>
            </div>
          </li>
          <li class="team-member" style="background-image:url('../../../assets/img/company/news/westpost-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
            <div class="team-overflow">
              <div class="team-info">
                <h5 class="team-name">West Review</h5>
                <p class="monospace title-has-line team-function">03-Nov-2015</p>
                <p class="team-description">Read more about the West</p>
                <a href="../news-feed/west-review.html" class="clapat-button outline-button">Read More</a>
              </div>
            </div>
          </li>
          <li class="team-member" style="background-image:url('../../../assets/img/company/news/wood-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
            <div class="team-overflow">
              <div class="team-info">
                <h5 class="team-name">Woodward Summer Camps</h5>
                <p class="monospace title-has-line team-function">10-Jul-2015</p>
                <p class="team-description">Never Summer goes to camp...</p>
                <a href="../news-feed/woodward-summer-camps.html" class="clapat-button outline-button">Read More</a>
              </div>
            </div>
          </li>
        </ul>

      </div>

    </div>
	</div>