<div id="content">
  <!--<div id="content-ajax">-->
    <!--<div id="hero" class="hero-big static-hero opacity-hero light-bg">
				<div class="hero-image" style="background-image:url('../../../assets/img/snowboards/team/TeamHero.jpg')">
					<div class="overlay" style="background-color:rgba(0,0,0,0.1)">
						<div class="clapat-caption dark-bg">
							<div class="caption-content bottom-left"></div>
						</div>
					</div>
				</div>
		</div>-->

    <div class="top-parallax" style="background-image:url('../../../assets/img/snowboards/team/TeamHero.jpg')">
    </div>

    <div id="main">
      <div class="container">
        <h1 class="title-has-line text-align-center">Team</h1>

        <ul class="our-team">
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Andrew_Buergin-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Andrew Buergin</h5>
									<p class="monospace title-has-line team-function" style="display:none;"></p>
									<p class="team-description">Home Mountain - Crested Butte, CO</p>
									<a href="../team/andrew-buergin.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Austin_Gibney-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Austin Gibney</h5>
									<p class="monospace title-has-line team-function" style="display:none;"></p>
									<p class="team-description">Home Mountain - Crested Butte, CO</p>
									<a href="../team/austin-gibney.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Bill_Rodriguez-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Bill Rodriguez</h5>
									<p class="monospace title-has-line team-function" style="display:none;"></p>
									<p class="team-description">Home Mountain - Beaver Creek, CO</p>
									<a href="../team/bill-rodriguez.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Brady_Farr-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Brady Farr</h5>
									<p class="monospace title-has-line team-function" style="display:none;"></p>
									<p class="team-description">Home Mountain - Alyeska, AK</p>
									<a href="../team/brady-farr.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Brock_Butterfield-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Brock Butterfield</h5>
									<p class="monospace title-has-line team-function" style="display:none;"></p>
									<p class="team-description">Home Mountain - Beaver Mountain, UT</p>
									<a href="../team/brock-butterfield.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Byron_Bagwell-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Byron Bagwell</h5>
									<p class="monospace title-has-line team-function" style="display:none;"></p>
									<p class="team-description">Home Mountain - West Coast Tromper</p>
									<a href="../team/byron-bagwell.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Casey_Lucas-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Casey Lucas</h5>
									<p class="monospace title-has-line team-function" style="display:none;"></p>
									<p class="team-description">Home Mountain - South Lake Tahoe, CA</p>
									<a href="../team/casey-lucas.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Catherine_Eagles-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Catherine Eagles</h5>
									<p class="monospace title-has-line team-function" style="display:none;"></p>
									<p class="team-description">Home Mountain - Shames Mountain, Terrace BC Canada</p>
									<a href="../team/catherine-eagles.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Charlie_Hoch-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Charlie Hoch</h5>
									<p class="monospace title-has-line team-function" style="display:none;"></p>
									<p class="team-description">Home Mountain - Wolf Creek, CO</p>
									<a href="../team/charlie-hoch.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Chase_Blackwell-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Chase Blackwell</h5>
									<p class="monospace title-has-line team-function" style="display:none;"></p>
									<p class="team-description">Home Mountain - Breckenridge, CO</p>
									<a href="../team/chase-blackwell.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Chris_Corning-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Chris Corning</h5>
									<p class="monospace title-has-line team-function" style="display:none;"></p>
									<p class="team-description">Home Mountain - Aspen Snowmass, CO</p>
									<a href="../team/chris-corning.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Chris_Galvin-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Chris Galvin</h5>
									<p class="monospace title-has-line team-function" style="display:none;"></p>
									<p class="team-description">Home Mountain - Squaw Valley</p>
									<a href="../team/chris-galvin.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Chris_Lynch-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Chris Lynch</h5>
									<p class="monospace title-has-line team-function" style="display:none;"></p>
									<p class="team-description">Home Mountain - Loveland Ski Area, CO (not resort)</p>
									<a href="../team/chris-lynch.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Cooper_Sclar-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Cooper Sclar</h5>
									<p class="monospace title-has-line team-function" style="display:none;"></p>
									<p class="team-description">Home Mountain - Winter Park, CO</p>
									<a href="../team/cooper-sclar.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Devin_Whiteley-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Devin Whiteley</h5>
									<p class="monospace title-has-line team-function" style="display:none;"></p>
									<p class="team-description">Home Mountain - The Canyons, UT</p>
									<a href="../team/devin-whiteley.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/everetteteam-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Everette Simmons</h5>
									<p class="monospace title-has-line team-function" style="display:none;"></p>
									<p class="team-description">Home Mountain - Colorado</p>
									<a href="../team/everette-simmons.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/iansmitth-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Ian Smith</h5>
									<p class="monospace title-has-line team-function" style="display:none;"></p>
									<p class="team-description">Home Mountain - Breckenridge, CO</p>
									<a href="../team/ian-smith.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Jacob_Carey-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Jacob 'Cub' Carey</h5>
									<p class="monospace title-has-line team-function" style="display:none;"></p>
									<p class="team-description">Home Mountain - Keystone, CO</p>
									<a href="../team/jacob-cub-carey.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Jake_Williams-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Jake Williams</h5>
									<p class="monospace title-has-line team-function" style="display:none;"></p>
									<p class="team-description">Home Mountain - Breckenridge, CO</p>
									<a href="../team/jake-williams.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Jason_Elms-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Jason Elms</h5>
									<p class="monospace title-has-line team-function" style="display:none;"></p>
									<p class="team-description">Home Mountain - Jackson Hole, WY</p>
									<a href="../team/jason-elms.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Jason_Hindman-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Jason Hindman</h5>
									<p class="monospace title-has-line team-function" style="display:none;"></p>
									<p class="team-description">Home Mountain - Park City, UT via Seven Spring Pennsylvania</p>
									<a href="../team/jason-hindman.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Justin_Henigen-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Justin Henigin</h5>
									<p class="monospace title-has-line team-function" style="display:none;"></p>
									<p class="team-description">Home Mountain - Trollhaugen, WI</p>
									<a href="../team/justin-henigin.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/kevinblue.jpg-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.png');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Kevin Ray Blue</h5>
									<p class="monospace title-has-line team-function" style="display:none;"></p>
									<p class="team-description">Home Mountain - Wolf Creek, CO</p>
									<a href="../team/kevin-ray-blue.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Mary_Boddington-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Mary Boddington</h5>
									<p class="monospace title-has-line team-function" style="display:none;"></p>
									<p class="team-description">Home Mountain - Crested Butte</p>
									<a href="../team/mary-boddington.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Mike_Hood2-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Mike Hood</h5>
									<p class="monospace title-has-line team-function" style="display:none;"></p>
									<p class="team-description">Home Mountain - Beaver Creek, CO</p>
									<a href="../team/mike-hood.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Mikey_Marohn-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Mikey Marohn</h5>
									<p class="monospace title-has-line team-function" style="display:none;"></p>
									<p class="team-description">Home Mountain - Jackson Hole, WY</p>
									<a href="../team/mikey-marohn.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Nate_Sheehan-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Nate Sheehan</h5>
									<p class="monospace title-has-line team-function" style="display:none;"></p>
									<p class="team-description">Home Mountain - Ski Liberty, PA</p>
									<a href="../team/nate-sheehan.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Nick_Decicco-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Nick DeCicco</h5>
									<p class="monospace title-has-line team-function" style="display:none;"></p>
									<p class="team-description">Home Mountain - Breckenridge, CO</p>
									<a href="../team/nick-decicco.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Nick_Larson-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Nick Larson</h5>
									<p class="monospace title-has-line team-function" style="display:none;"></p>
									<p class="team-description">Home Mountain - Breckenridge, CO</p>
									<a href="../team/nick-larson.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Rajat_B-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Rajat Bhyani</h5>
									<p class="monospace title-has-line team-function" style="display:none;"></p>
									<p class="team-description">Home Mountain - Snow King Mtn, Jackson Hole, WY</p>
									<a href="../team/rajat-bhayani.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Rick_Rodriguez-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Rick Rodriguez RICKMODE</h5>
									<p class="monospace title-has-line team-function" style="display:none;"></p>
									<p class="team-description">Home Mountain - Beaver Creek, CO</p>
									<a href="../team/rick-rodriguez-rickmode.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Sean_Fithian-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Sean Fithian</h5>
									<p class="monospace title-has-line team-function" style="display:none;"></p>
									<p class="team-description">Home Mountain - Stevens Pass, WA and Cooke City, MT</p>
									<a href="../team/sean-fithian.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Taylor_Pfaff-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Taylor Pfaff</h5>
									<p class="monospace title-has-line team-function" style="display:none;"></p>
									<p class="team-description">Home Mountain - Whistler Blackcomb, BC</p>
									<a href="../team/taylor-pfaff.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Tom_Flocco-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Tom Flocco</h5>
									<p class="monospace title-has-line team-function" style="display:none;"></p>
									<p class="team-description">Home Mountain - Park City and Canyons, UT</p>
									<a href="../team/tom-flocco.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Tony_Pavlantos-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Tony Pavlantos</h5>
									<p class="monospace title-has-line team-function" style="display:none;"></p>
									<p class="team-description">Home Mountain - www.earth.google.com</p>
									<a href="../team/tony-pavlantos.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
					</ul>
      </div>
    </div>

  <!--</div>-->
</div>