.top-parallax {
    height: 650px;
    top: 120px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#main {
    margin-top: 50px;
}
