<div id="content">
	<!--<div id="content-ajax">-->

	<div class="top-parallax" style="background-image:url('../../../assets/img/snowboards/team/TeamHero.jpg')"></div>

	<div id="main">
		<div class="container">
			<h1 class="title-has-line text-align-center">Team</h1>

			<ul class="our-team">
				<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Andrew_Buergin-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
					<div class="team-overflow">
						<div class="team-info">
							<h5 class="team-name">Andrew Buergin</h5>
							<p class="monospace title-has-line team-function" style="display:none;"></p>
							<p class="team-description">Home Mountain - Crested Butte, CO</p>
							<a [routerLink]="['/snowboards/team/andrew-buergin']" class="clapat-button outline-button">Read More</a>
						</div>
					</div>
				</li>
				<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Austin_Gibney-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
					<div class="team-overflow">
						<div class="team-info">
							<h5 class="team-name">Austin Gibney</h5>
							<p class="monospace title-has-line team-function" style="display:none;"></p>
							<p class="team-description">Home Mountain - Crested Butte, CO</p>
							<a [routerLink]="['/snowboards/team/austin-gibney']" class="clapat-button outline-button">Read More</a>
						</div>
					</div>
				</li>
				<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Bill_Rodriguez-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
					<div class="team-overflow">
						<div class="team-info">
							<h5 class="team-name">Bill Rodriguez</h5>
							<p class="monospace title-has-line team-function" style="display:none;"></p>
							<p class="team-description">Home Mountain - Beaver Creek, CO</p>
							<a [routerLink]="['/snowboards/team/bill-rodriguez']" class="clapat-button outline-button">Read More</a>
						</div>
					</div>
				</li>
				<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Brady_Farr-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
					<div class="team-overflow">
						<div class="team-info">
							<h5 class="team-name">Brady Farr</h5>
							<p class="monospace title-has-line team-function" style="display:none;"></p>
							<p class="team-description">Home Mountain - Alyeska, AK</p>
							<a [routerLink]="['/snowboards/team/brady-farr']" class="clapat-button outline-button">Read More</a>
						</div>
					</div>
				</li>
				<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Brock_Butterfield-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
					<div class="team-overflow">
						<div class="team-info">
							<h5 class="team-name">Brock Butterfield</h5>
							<p class="monospace title-has-line team-function" style="display:none;"></p>
							<p class="team-description">Home Mountain - Beaver Mountain, UT</p>
							<a [routerLink]="['/snowboards/team/brock-butterfield']" class="clapat-button outline-button">Read More</a>
						</div>
					</div>
				</li>
				<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Byron_Bagwell-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
					<div class="team-overflow">
						<div class="team-info">
							<h5 class="team-name">Byron Bagwell</h5>
							<p class="monospace title-has-line team-function" style="display:none;"></p>
							<p class="team-description">Home Mountain - West Coast Tromper</p>
							<a [routerLink]="['/snowboards/team/byron-bagwell']" class="clapat-button outline-button">Read More</a>
						</div>
					</div>
				</li>
				<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Casey_Lucas-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
					<div class="team-overflow">
						<div class="team-info">
							<h5 class="team-name">Casey Lucas</h5>
							<p class="monospace title-has-line team-function" style="display:none;"></p>
							<p class="team-description">Home Mountain - South Lake Tahoe, CA</p>
							<a [routerLink]="['/snowboards/team/casey-lucas']" class="clapat-button outline-button">Read More</a>
						</div>
					</div>
				</li>
				<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Catherine_Eagles-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
					<div class="team-overflow">
						<div class="team-info">
							<h5 class="team-name">Catherine Eagles</h5>
							<p class="monospace title-has-line team-function" style="display:none;"></p>
							<p class="team-description">Home Mountain - Shames Mountain, Terrace BC Canada</p>
							<a [routerLink]="['/snowboards/team/catherine-eagles']" class="clapat-button outline-button">Read More</a>
						</div>
					</div>
				</li>
				<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Charlie_Hoch-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
					<div class="team-overflow">
						<div class="team-info">
							<h5 class="team-name">Charlie Hoch</h5>
							<p class="monospace title-has-line team-function" style="display:none;"></p>
							<p class="team-description">Home Mountain - Wolf Creek, CO</p>
							<a [routerLink]="['/snowboards/team/charlie-hoch']" class="clapat-button outline-button">Read More</a>
						</div>
					</div>
				</li>
				<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Chase_Blackwell-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
					<div class="team-overflow">
						<div class="team-info">
							<h5 class="team-name">Chase Blackwell</h5>
							<p class="monospace title-has-line team-function" style="display:none;"></p>
							<p class="team-description">Home Mountain - Breckenridge, CO</p>
							<a [routerLink]="['/snowboards/team/chase-blackwell']" class="clapat-button outline-button">Read More</a>
						</div>
					</div>
				</li>
				<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Chris_Corning-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
					<div class="team-overflow">
						<div class="team-info">
							<h5 class="team-name">Chris Corning</h5>
							<p class="monospace title-has-line team-function" style="display:none;"></p>
							<p class="team-description">Home Mountain - Aspen Snowmass, CO</p>
							<a [routerLink]="['/snowboards/team/chris-corning']" class="clapat-button outline-button">Read More</a>
						</div>
					</div>
				</li>
				<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Chris_Galvin-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
					<div class="team-overflow">
						<div class="team-info">
							<h5 class="team-name">Chris Galvin</h5>
							<p class="monospace title-has-line team-function" style="display:none;"></p>
							<p class="team-description">Home Mountain - Squaw Valley</p>
							<a [routerLink]="['/snowboards/team/chris-galvin']" class="clapat-button outline-button">Read More</a>
						</div>
					</div>
				</li>
				<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Chris_Lynch-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
					<div class="team-overflow">
						<div class="team-info">
							<h5 class="team-name">Chris Lynch</h5>
							<p class="monospace title-has-line team-function" style="display:none;"></p>
							<p class="team-description">Home Mountain - Loveland Ski Area, CO (not resort)</p>
							<a [routerLink]="['/snowboards/team/chris-lynch']" class="clapat-button outline-button">Read More</a>
						</div>
					</div>
				</li>
				<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Cooper_Sclar-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
					<div class="team-overflow">
						<div class="team-info">
							<h5 class="team-name">Cooper Sclar</h5>
							<p class="monospace title-has-line team-function" style="display:none;"></p>
							<p class="team-description">Home Mountain - Winter Park, CO</p>
							<a [routerLink]="['/snowboards/team/cooper-sclar']" class="clapat-button outline-button">Read More</a>
						</div>
					</div>
				</li>
				<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Devin_Whiteley-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
					<div class="team-overflow">
						<div class="team-info">
							<h5 class="team-name">Devin Whiteley</h5>
							<p class="monospace title-has-line team-function" style="display:none;"></p>
							<p class="team-description">Home Mountain - The Canyons, UT</p>
							<a [routerLink]="['/snowboards/team/devin-whiteley']" class="clapat-button outline-button">Read More</a>
						</div>
					</div>
				</li>
				<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/everetteteam-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
					<div class="team-overflow">
						<div class="team-info">
							<h5 class="team-name">Everette Simmons</h5>
							<p class="monospace title-has-line team-function" style="display:none;"></p>
							<p class="team-description">Home Mountain - Colorado</p>
							<a [routerLink]="['/snowboards/team/everette-simmons']" class="clapat-button outline-button">Read More</a>
						</div>
					</div>
				</li>
				<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/iansmitth-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
					<div class="team-overflow">
						<div class="team-info">
							<h5 class="team-name">Ian Smith</h5>
							<p class="monospace title-has-line team-function" style="display:none;"></p>
							<p class="team-description">Home Mountain - Breckenridge, CO</p>
							<a [routerLink]="['/snowboards/team/ian-smith']" class="clapat-button outline-button">Read More</a>
						</div>
					</div>
				</li>
				<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Jacob_Carey-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
					<div class="team-overflow">
						<div class="team-info">
							<h5 class="team-name">Jacob 'Cub' Carey</h5>
							<p class="monospace title-has-line team-function" style="display:none;"></p>
							<p class="team-description">Home Mountain - Keystone, CO</p>
							<a [routerLink]="['/snowboards/team/jacob-carey']" class="clapat-button outline-button">Read More</a>
						</div>
					</div>
				</li>
				<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Jake_Williams-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
					<div class="team-overflow">
						<div class="team-info">
							<h5 class="team-name">Jake Williams</h5>
							<p class="monospace title-has-line team-function" style="display:none;"></p>
							<p class="team-description">Home Mountain - Breckenridge, CO</p>
							<a [routerLink]="['/snowboards/team/jake-williams']" class="clapat-button outline-button">Read More</a>
						</div>
					</div>
				</li>
				<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Jason_Elms-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
					<div class="team-overflow">
						<div class="team-info">
							<h5 class="team-name">Jason Elms</h5>
							<p class="monospace title-has-line team-function" style="display:none;"></p>
							<p class="team-description">Home Mountain - Jackson Hole, WY</p>
							<a [routerLink]="['/snowboards/team/jason-elms']" class="clapat-button outline-button">Read More</a>
						</div>
					</div>
				</li>
				<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Jason_Hindman-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
					<div class="team-overflow">
						<div class="team-info">
							<h5 class="team-name">Jason Hindman</h5>
							<p class="monospace title-has-line team-function" style="display:none;"></p>
							<p class="team-description">Home Mountain - Park City, UT via Seven Spring Pennsylvania</p>
							<a [routerLink]="['/snowboards/team/jason-hindman']" class="clapat-button outline-button">Read More</a>
						</div>
					</div>
				</li>
				<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Justin_Henigen-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
					<div class="team-overflow">
						<div class="team-info">
							<h5 class="team-name">Justin Henigin</h5>
							<p class="monospace title-has-line team-function" style="display:none;"></p>
							<p class="team-description">Home Mountain - Trollhaugen, WI</p>
							<a [routerLink]="['/snowboards/team/justin-henigin']" class="clapat-button outline-button">Read More</a>
						</div>
					</div>
				</li>
				<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/kevinblue.jpg-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.png');">
					<div class="team-overflow">
						<div class="team-info">
							<h5 class="team-name">Kevin Ray Blue</h5>
							<p class="monospace title-has-line team-function" style="display:none;"></p>
							<p class="team-description">Home Mountain - Wolf Creek, CO</p>
							<a [routerLink]="['/snowboards/team/kevin-blue']" class="clapat-button outline-button">Read More</a>
						</div>
					</div>
				</li>
				<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Mary_Boddington-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
					<div class="team-overflow">
						<div class="team-info">
							<h5 class="team-name">Mary Boddington</h5>
							<p class="monospace title-has-line team-function" style="display:none;"></p>
							<p class="team-description">Home Mountain - Crested Butte</p>
							<a [routerLink]="['/snowboards/team/mary-boddington']" class="clapat-button outline-button">Read More</a>
						</div>
					</div>
				</li>
				<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Mike_Hood2-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
					<div class="team-overflow">
						<div class="team-info">
							<h5 class="team-name">Mike Hood</h5>
							<p class="monospace title-has-line team-function" style="display:none;"></p>
							<p class="team-description">Home Mountain - Beaver Creek, CO</p>
							<a [routerLink]="['/snowboards/team/mike-hood']" class="clapat-button outline-button">Read More</a>
						</div>
					</div>
				</li>
				<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Mikey_Marohn-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
					<div class="team-overflow">
						<div class="team-info">
							<h5 class="team-name">Mikey Marohn</h5>
							<p class="monospace title-has-line team-function" style="display:none;"></p>
							<p class="team-description">Home Mountain - Jackson Hole, WY</p>
							<a [routerLink]="['/snowboards/team/mikey-marohn']" class="clapat-button outline-button">Read More</a>
						</div>
					</div>
				</li>
				<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Nate_Sheehan-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
					<div class="team-overflow">
						<div class="team-info">
							<h5 class="team-name">Nate Sheehan</h5>
							<p class="monospace title-has-line team-function" style="display:none;"></p>
							<p class="team-description">Home Mountain - Ski Liberty, PA</p>
							<a [routerLink]="['/snowboards/team/nate-sheehan']" class="clapat-button outline-button">Read More</a>
						</div>
					</div>
				</li>
				<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Nick_Decicco-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
					<div class="team-overflow">
						<div class="team-info">
							<h5 class="team-name">Nick DeCicco</h5>
							<p class="monospace title-has-line team-function" style="display:none;"></p>
							<p class="team-description">Home Mountain - Breckenridge, CO</p>
							<a [routerLink]="['/snowboards/team/nick-decicco']" class="clapat-button outline-button">Read More</a>
						</div>
					</div>
				</li>
				<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Nick_Larson-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
					<div class="team-overflow">
						<div class="team-info">
							<h5 class="team-name">Nick Larson</h5>
							<p class="monospace title-has-line team-function" style="display:none;"></p>
							<p class="team-description">Home Mountain - Breckenridge, CO</p>
							<a [routerLink]="['/snowboards/team/nick-larson']" class="clapat-button outline-button">Read More</a>
						</div>
					</div>
				</li>
				<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Rajat_B-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
					<div class="team-overflow">
						<div class="team-info">
							<h5 class="team-name">Rajat Bhyani</h5>
							<p class="monospace title-has-line team-function" style="display:none;"></p>
							<p class="team-description">Home Mountain - Snow King Mtn, Jackson Hole, WY</p>
							<a [routerLink]="['/snowboards/team/rajat-bhyani']" class="clapat-button outline-button">Read More</a>
						</div>
					</div>
				</li>
				<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Rick_Rodriguez-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
					<div class="team-overflow">
						<div class="team-info">
							<h5 class="team-name">Rick Rodriguez RICKMODE</h5>
							<p class="monospace title-has-line team-function" style="display:none;"></p>
							<p class="team-description">Home Mountain - Beaver Creek, CO</p>
							<a [routerLink]="['/snowboards/team/rick-rodriguez']" class="clapat-button outline-button">Read More</a>
						</div>
					</div>
				</li>
				<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Sean_Fithian-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
					<div class="team-overflow">
						<div class="team-info">
							<h5 class="team-name">Sean Fithian</h5>
							<p class="monospace title-has-line team-function" style="display:none;"></p>
							<p class="team-description">Home Mountain - Stevens Pass, WA and Cooke City, MT</p>
							<a [routerLink]="['/snowboards/team/sean-fithian']" class="clapat-button outline-button">Read More</a>
						</div>
					</div>
				</li>
				<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Taylor_Pfaff-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
					<div class="team-overflow">
						<div class="team-info">
							<h5 class="team-name">Taylor Pfaff</h5>
							<p class="monospace title-has-line team-function" style="display:none;"></p>
							<p class="team-description">Home Mountain - Whistler Blackcomb, BC</p>
							<a [routerLink]="['/snowboards/team/taylor-pfaff']" class="clapat-button outline-button">Read More</a>
						</div>
					</div>
				</li>
				<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Tom_Flocco-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
					<div class="team-overflow">
						<div class="team-info">
							<h5 class="team-name">Tom Flocco</h5>
							<p class="monospace title-has-line team-function" style="display:none;"></p>
							<p class="team-description">Home Mountain - Park City and Canyons, UT</p>
							<a [routerLink]="['/snowboards/team/tom-flocco']" class="clapat-button outline-button">Read More</a>
						</div>
					</div>
				</li>
				<li class="team-member" style="background-image:url('../../../assets/img/snowboards/team/Tony_Pavlantos-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
					<div class="team-overflow">
						<div class="team-info">
							<h5 class="team-name">Tony Pavlantos</h5>
							<p class="monospace title-has-line team-function" style="display:none;"></p>
							<p class="team-description">Home Mountain - www.earth.google.com</p>
							<a [routerLink]="['/snowboards/team/tony-pavlantos']" class="clapat-button outline-button">Read More</a>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<!--</div>-->
</div>
