.top-parallax {
    height: 650px;
    top: 120px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#main {
    margin-top: 50px;
	width: 100%;
}

// Main Content
.one_half {
    width: 47%;
}
.one_half {
    float: left;
    margin-bottom: 20px;
    margin-right: 6%;
    position: relative;
}	

/*--------------------------------------------------
	04.5 Dropdown Buttons
---------------------------------------------------*/
.buyNowWrapper {
    position:relative;
    margin-top:40px;
    z-index:999;
}
.buyNow, .buyNow ul {
    list-style:none;
    padding:0;
    margin:0;
}
.buyNow > li {
    display:block;
}
.buyNow > li > a {
    color: #fff;
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    font-weight:600;
    margin-top: 5px;
    margin-right: 5px;
    display: inline-block;
    text-transform: uppercase;
    padding: 15px 30px;
    line-height: 20px;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    text-align: center;
    background-color: #e11f26;
}
.buyNow > li > a:hover {
    background-color: #000;
}
.buyNow li ul {
    padding: 0;
    position: absolute;
    top: 55px;
    left: 0;
    width: 250px;
    display: none;
    opacity: 0;
    visibility: hidden;
    -webkit-transiton: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -transition: opacity 0.2s;
}
.buyNow li ul li { 
    display: block; 
    background: #fafafa;
    border-bottom:1px solid #eee;
}
.buyNow li ul li a {
    display:block;
    width:160px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    font-weight:600;
    text-transform:uppercase;
    line-height:20px;
    height:auto;
    padding:20px;
    color:#999 !important;
}
.buyNow li ul li:hover { background: #fff; }
.buyNow li ul li a:hover { color: #000 !important; }
.buyNow li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
}
.last {
    margin-right:0px;
}

// Bottom Parralax
section {
	margin-left: -50%;
	padding-left: 50%;
	padding-right: 50%;
	position: relative;
	width: 100%;
	z-index: 0;
	display: inline-block;
}
section .overlay {
	margin-left: -50%;
	padding-left: 50%;
	padding-right: 50%;
	padding-top:150px;
	padding-bottom:150px;
	position: relative;
	width: 100%;
}
.parallax {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position:center center;
    background-repeat:no-repeat;
    background-attachment: fixed !important;
}
.specsfeatures br { 
    display:none; 
}
.specsfeatures .title-has-line:after {
    background: none repeat scroll 0 0 #999;
}


// Specs table 
.specstable {
	margin:40px 0;
}
.specstable thead td {
	padding:10px;
	font-weight:bold;
	text-align:center;
	font-family: 'Titillium Web';
	font-weight: 400;
    // font-weight: bold;
	font-size: 13px;
	color:#000;
    background: rgba(255,255,255,0.7);
}
.specstable tbody td {
	padding:10px;
    color: #000;
	text-align:center;
    background: rgba(255,255,255,0.4);
}
.spec-list {
    color: #fff;
}


// Images at bottom
.bottom-images {
    display: flex;
    justify-content: space-between;
}
.box-img {
    width: 30%;
}


// Bottom parallax with youtube
/* Video Hover Play Image */	
.cntVid, figure.vimeo, figure.youtube {
    margin:0;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0;
    height: 0;
    overflow: hidden;
}
.cntVid iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
figure.youtube a img, figure.vimeo a img {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
    max-width:none;
}
figure.vimeo a:after, figure.youtube a:after {
    content:"";
    width:60px;
    height:60px;
    background:#fff;
    z-index:9;
    position:absolute;
    top:50%;
    left:50%;
    margin:-30px 0 0 -30px;
    border:3px solid #fff;
    -webkit-box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.01);
    -moz-box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.01);
    box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.01);
}
figure.vimeo a:before, figure.youtube a:before {
    content:"";
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 8px solid #000;
    z-index:10;
    position:absolute;
    top:50%;
    left:50%;
    margin-left:0px;
    margin-top:-4px;
    display:block;
}
figure.vimeo a:hover img, figure.youtube a:hover img {
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}
figure.vimeo a img, figure.youtube a img {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: scale(1);
    transform: scale(1);
}
section.video-none { display:none; }
section.video-vimeo { display:block; }
section.video-youtube { display:block; }
figure.vimeo-vimeo { display:block; }
figure.vimeo-youtube { display:none; }
figure.youtube-vimeo { display:none; }
figure.youtube-youtube { display:block; }
figure.youtube-none { display:none; }
figure.vimeo-none { display:none; }
	