<div id="content">
	<div class="apparel-header">
		<h1 class="text-align-center">Shirts</h1>
			<ul id="categories">
				<li><a [routerLink]="['/store//apparel/shirts']">Shirts</a></li>
				<li><a [routerLink]="['/store//apparel/hoodies']">Hoodies</a></li>
				<li><a [routerLink]="['/store//apparel/hats']">Hats</a></li>
				<li><a [routerLink]="['/store//apparel/accessories']">Accessories</a></li>
				<li><a [routerLink]="['/store//apparel/mens']">Mens</a></li>
				<li><a [routerLink]="['/store//apparel/womens']">Womens</a></li>
				<li><a [routerLink]="['/store//apparel/kids']">Kids</a></li>
			</ul>
	</div>
	<div class="store-img">
		<img src="../../assets/img/apparel/ApparelHero.jpg" alt="">
	</div>
	<div id="main">
		<div class="container">
			<div class="store-wrap" style="width: 1000px;">
				<div *ngFor="let shirt of shirts" class="store-portfolio"> 
					<a href="#">
						<div class="store-item"> 					
							<img class="store-photo" src="{{shirt.photo}}" alt="">
							<div class="item-overlay">
								<span class="item-title">{{shirt.name}}</span>
							</div>
						</div>
					</a>
				</div>
			</div>
			<hr>
		</div>
	</div>
</div>