<div id="content">
  <div class="top-parallax" style="background-image:url('../../../assets/products/snowboards/SLsplit/17_JedCreative_Aura.jpg')"></div>

  <div id="main">
    <div class="container">
      <div class="one_half">
        <h3 class="title">Aura</h3>
        <p class="monospace title-has-line">Women's Freeride</p>
        <div class="addthis_custom_sharing"></div>
        <hr class="small" />
        <p>
          The Aura was the first board in the women’s lineup to feature the new Ripsaw Rocker Camber Profile. This trendsetter has a mid-firm flex, Carbonium Topsheet, directional shape, Vario Power Grip Sidecut, and enhanced stability with a sleek shape.
          If you have the need for speed, big beautiful carves, or big mountain riding then surround yourself with the Aura.
        </p>
  
        <div class="buyNowWrapper">
          <ul class="buyNow">
            <li><a href="javascript:void(0)">Buy Now</a>
              <ul>
                <li><a href="../company/dealers.html">Find a Dealer</a></li>
                <li><a href="http://neversummer-snow.shptron.com/p/aura-1?pp=16" target="_blank">Buy Now</a></li>
              </ul>
            </li>
          </ul>
        </div>

        <hr class="medium" />
        <img src="../../../assets/products/snowboards/camber-ripsaw.png" />
      </div>

      <div class="one_half last">
        <hr class="small" />
        <img src="../../../assets/products/snowboards/SLsplit/17Aura.png" />
      </div>

      <hr>

      <section class="parallax specsfeatures" style="background-image: url('../../../assets/products/snowboards/techspecs_parallax.jpg'); background-position: 50% -3px;">
        <div class="overlay" style="background-color:rgba(255,255,255,0.75)">
          <div class="one_half">
            <h3 class="title-has-line">Specs</h3>
            <p>
              <table>
                <thead>
                  <tr>
                    <td>Size*</td>
                    <td>Waist</td>
                    <td>Edge</td>
                    <td>Sidecut**</td>
                    <td>Tip / Tail</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>143</td>
                    <td>23.4</td>
                    <td>110</td>
                    <td>Vario 700</td>
                    <td>27.4</td>
                  </tr>
                  <tr>
                    <td>146</td>
                    <td>23.5</td>
                    <td>112</td>
                    <td>Vario 712 </td>
                    <td>27.6</td>
                  </tr>
                  <tr>
                    <td>148</td>
                    <td>23.5</td>
                    <td>114</td>
                    <td>Vario 722</td>
                    <td>27.7</td>
                  </tr>
                  <tr>
                    <td>150</td>
                    <td>23.7</td>
                    <td>116</td>
                    <td>Vario 742</td>
                    <td>28.0</td>
                  </tr>
                  <tr>
                    <td>152 </td>
                    <td>23.8</td>
                    <td>118</td>
                    <td>Vario 745</td>
                    <td>28.3</td>
                  </tr>
                  <tr>
                    <td>155</td>
                    <td>23.9</td>
                    <td>120</td>
                    <td>Vario 753</td>
                    <td>28.4</td>
                  </tr>
                  <tr>
                    <td>157</td>
                    <td>24.0</td>
                    <td>122</td>
                    <td>Vario 761</td>
                    <td>28.6</td>
                  </tr>
                </tbody>
              </table>
              <br />
            <p>* Measurements in centimeters. ** Multiple radius average.</p>
          </div>
          <div class="one_half last">
            <h3 class="title-has-line">Features</h3>
            <div>
              <ul>
                <li>Carbonium Topsheet</li>
                <li>Carbon VXR Laminate Technology</li>
                <li>Ripsaw Rocker Camber Profile</li>
                <li>Extended Transition Area</li>
                <li>Vario Power Grip Sidecut</li>
                <li>Low Profile Tip/Tail</li>
                <li>Bi-Lite Fiberglass</li>
                <li>NS SuperLight Wood Core</li>
                <li>RDS 2 Damping System</li>
                <li>Elastomeric Underfoot Stabilizers</li>
                <li>Sintered P-tex Sidewall</li>
                <li>Durasurf XT Sintered 5501 Base</li>
                <li>P-tex Tip and Tail Protection</li>
              </ul>
              <br />
            </div>
          </div>
          <div class="clear"></div>
        </div>
      </section>

      <hr>

      <div class="bottom-images">
        <div class="box-img">
          <img src="../../../../assets/products/snowboards/SLsplit/NS_Aura17_2.jpg" alt="image" />
        </div>
        <div class="box-img">
          <img src="../../../../assets/products/snowboards/SLsplit/NS_Aura17_1.jpg" alt="image" />
        </div>
        <div class="box-img">
         <img src="../../../../assets/products/snowboards/SLsplit/NS_Aura17_3.jpg" alt="image" />
        </div>
      </div>

      <hr class="medium">

      <h3 class="text-align-center title-has-line">Ride Profile</h3>

      <hr class="small">

      <div class="one_third text-align-center">
        <div class="radial-counter">
          <div style="display: inline; width: 190px; height: 190px;">
            <canvas width="190" height="190" style="background-image:url('../../../assets/img/snowboards/dial-0.png')"></canvas>
            <input class="knob" data-gal="0" value="0" style="width: 99px;height: 63px;position: absolute;vertical-align: middle;margin-top: 63px;margin-left: -144px;border: 0px;background: none;font-style: normal;font-variant: normal;font-weight: bold;font-stretch: normal;font-size: 38px;line-height: normal;font-family: Arial;text-align: center;color: rgb(255, 255, 255);padding: 0px;-webkit-appearance: none;">
          </div>
          <h5 class="radial-counter-name">Freestyle</h5>
        </div>
      </div>

      <div class="one_third text-align-center">
        <div class="radial-counter">
          <div style="display: inline; width: 190px; height: 190px;">
            <canvas width="190" height="190" style="background-image:url('../../../assets/img/snowboards/dial-20.png')"></canvas>
            <input class="knob" data-gal="20" value="20" style="width: 99px; height: 63px; position: absolute; vertical-align: middle; margin-top: 63px; margin-left: -144px; border: 0px; background: none; font-style: normal; font-variant: normal; font-weight: bold; font-stretch: normal; font-size: 38px; line-height: normal; font-family: Arial; text-align: center; color: rgb(255, 255, 255); padding: 0px; -webkit-appearance: none;">
          </div>
            <h5 class="radial-counter-name">All Mountain</h5>
          </div>
      </div>

      <div class="one_third text-align-center last">
        <div class="radial-counter">
        <div style="display: inline; width: 190px; height: 190px;">
          <canvas width="190" height="190" style="background-image:url('../../../assets/img/snowboards/dial-80.png')"></canvas>
          <input class="knob" data-gal="80" value="80" style="width: 99px; height: 63px; position: absolute; vertical-align: middle; margin-top: 63px; margin-left: -144px; border: 0px; background: none; font-style: normal; font-variant: normal; font-weight: bold; font-stretch: normal; font-size: 38px; line-height: normal; font-family: Arial; text-align: center; color: rgb(255, 255, 255); padding: 0px; -webkit-appearance: none;">
        </div>
          <h5 class="radial-counter-name">Freeride</h5>
        </div>
      </div>

      <hr class="smallline">

      <div class="one_half">
        <h5 class="text-align-center title-has-line">Flex</h5>
        <ul class="progress-bar">
          <li>
            <div class="bar-wrap">
              <span data-width="62" style="width: 62%"><strong><i>62</i></strong></span>
            </div>
          </li>
        </ul>
        <table class="slidertable">
          <tr>
            <td>Soft</td>
            <td>Mid</td>
            <td>Mid Firm</td>
            <td>Firm</td>
          </tr>
        </table>
      </div>

      <div class="one_half last">
        <h5 class="text-align-center title-has-line">Damp</h5>
        <ul class="progress-bar">
          <li>
            <div class="bar-wrap">
              <span data-width="62" style="width: 62%"><strong><i>62</i></strong></span>
              </div>
          </li>
        </ul>
        <table class="slidertable">
          <tr>
            <td>Snappy</td>
            <td>Mid</td>
            <td>Smooth</td>
            <td>Cushy</td>
          </tr>
        </table>
      </div>

      <hr>

      <section class="parallax2 video-youtube" style="background-image: url('../../../../assets/products/snowboards/snowboardvideo-background.jpg'); background=position: 50% 21px; height: 1000px;">
        <div class="overlay text-align-center" style="background-color:rgba(0,0,0,0.0)">
          <h3 class="white title-has-line">Watch the Video</h3>
          <div class="cntVid">
            <figure class="youtube youtube-youtube">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/a7OXPwwXy0A" frameborder="0" allowfullscreen></iframe>
           </figure>
          </div>
        </div>
      </section>

      <hr>

    </div>
  </div>
</div>