<div id="content">
  <!--<div id="content-ajax">-->
      <div id="main">
        <div class="container">
          <h1 class="title-has-line text-align-center">Snowboard Videos</h1>

          <ul class="our-team">
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/videos/1-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.png');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">3 Is Better Than 2</h5>
									<p class="monospace title-has-line team-function">19-Oct-2015</p>
									<p class="team-description">3 vs 2 pressure areas </p>
									<a href="../news-feed/3-is-better-than-2.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/videos/Untitled-1-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.png');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">3 is better than 2</h5>
									<p class="monospace title-has-line team-function">27-Oct-2015</p>
									<p class="team-description">3 vs 2 pressure points</p>
									<a href="../news-feed/3-is-better-than-2-2.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/videos/3v2again-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">3 is way better than 2</h5>
									<p class="monospace title-has-line team-function">03-Nov-2015</p>
									<p class="team-description">Find out why!</p>
									<a href="../news-feed/3-is-way-better-than-2.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/videos/fun1-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Awesome Asym!</h5>
									<p class="monospace title-has-line team-function">02-Mar-2015</p>
									<p class="team-description">The new NS Funslinger!</p>
									<a href="../news-feed/awesome-asym.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/videos/bill1-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Bill Rodriguez at Breck</h5>
									<p class="monospace title-has-line team-function">02-Mar-2015</p>
									<p class="team-description">Take a hot Lap With Bill Rodriguez at Keystone...</p>
									<a href="../news-feed/bill-rodriguez-at-breck.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/videos/BI_TC_INT-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Board Insiders and Tracey Canaday</h5>
									<p class="monospace title-has-line team-function">14-Sep-2016</p>
									<p class="team-description">Interview with owner Tracey Canaday about Never Summer</p>
									<a href="../news-feed/board-insiders-and-tracey-canaday.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/videos/warlockboardinsiders1-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Board Insiders Preview Review</h5>
									<p class="monospace title-has-line team-function">23-Jun-2016</p>
									<p class="team-description">See a sneak peak on the Never Summer Warlock review!</p>
									<a href="../news-feed/board-insiders-preview-review.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/videos/candredit-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Catch and Release</h5>
									<p class="monospace title-has-line team-function">29-Mar-2016</p>
									<p class="team-description">The Never Summer West</p>
									<a href="../news-feed/catch-and-release.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/videos/chriscorn-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Chris Corning on Fire</h5>
									<p class="monospace title-has-line team-function">24-Aug-2015</p>
									<p class="team-description">Chris Corning wins New Zealand Winter Games</p>
									<a href="../news-feed/chris-corning-wins-nz-winter-games.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/videos/chriscorn-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Chris Corning Quick Edit</h5>
									<p class="monospace title-has-line team-function">24-Sep-2015</p>
									<p class="team-description">A quick edit of team rider Chris Corning tearing it up..</p>
									<a href="../news-feed/chris-corning-quick-edit.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/videos/dadsdayoff-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Dad's Day Off</h5>
									<p class="monospace title-has-line team-function">16-Mar-2016</p>
									<p class="team-description">Watch how Dad rides the Proto Type Two</p>
									<a href="../news-feed/dads-day-off.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/videos/drporken1-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Dr Porkenheimer Science</h5>
									<p class="monospace title-has-line team-function">02-Mar-2015</p>
									<p class="team-description">Never Summer's Snowboard Science Guy</p>
									<a href="../news-feed/dr-porkenheimer-science.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/videos/FunReview-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.png');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Funslinger Review</h5>
									<p class="monospace title-has-line team-function">14-Aug-2015</p>
									<p class="team-description">Never Summer Funslinger review... check it out!</p>
									<a href="../news-feed/funslinger-review.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/videos/fun2-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">How the hell did they do that?!</h5>
									<p class="monospace title-has-line team-function">02-Mar-2015</p>
									<p class="team-description">This is 'how the hell' we did it...</p>
									<a href="../news-feed/how-the-hell-did-they-do-that.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/videos/dangbud-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Introducing... 'Dang Bud!'</h5>
									<p class="monospace title-has-line team-function">02-Mar-2015</p>
									<p class="team-description">Never Summer's 'Dang Bud!' 2014/15 Snowboard Video</p>
									<a href="../news-feed/introducing-dang-bud.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/videos/justinhotlap-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Justin Henigin at Breckenridge.</h5>
									<p class="monospace title-has-line team-function">02-Mar-2015</p>
									<p class="team-description">Taking hot laps...</p>
									<a href="../news-feed/justin-henigin-at-breckenridge.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/videos/loveland1-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Loveland Opening Day 2015</h5>
									<p class="monospace title-has-line team-function">03-Nov-2015</p>
									<p class="team-description">First day of the season!</p>
									<a href="../news-feed/loveland-opening-day-2015.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/videos/momsdayoff-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Mom's Day Off</h5>
									<p class="monospace title-has-line team-function">08-Mar-2016</p>
									<p class="team-description">Women's Proto Type Two</p>
									<a href="../news-feed/moms-day-off.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/videos/T2Smonarch15-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Monarch T2S</h5>
									<p class="monospace title-has-line team-function">01-May-2015</p>
									<p class="team-description">Ticket to Shred winners up at Monarch!</p>
									<a href="../news-feed/monarch-t2s.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/videos/val-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Never Summer's Valentino Guseli</h5>
									<p class="monospace title-has-line team-function">23-Sep-2015</p>
									<p class="team-description">10 year old Aussie and Never Summer rider, Val, tears it up at Perisher</p>
									<a href="../news-feed/never-summers-valentino-guseli.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/videos/Untitled-1-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">New Zealand Banked Slalom</h5>
									<p class="monospace title-has-line team-function">23-Aug-2015</p>
									<p class="team-description">Treble Cone, New Zealand, DB Export Banked Slalom</p>
									<a href="../news-feed/new-zealand-banked-slalom.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/videos/kidsdayoff-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">No School...</h5>
									<p class="monospace title-has-line team-function">22-Mar-2016</p>
									<p class="team-description">Never Summer Mini Proto...</p>
									<a href="../news-feed/no-school.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/videos/calendarimages-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Prospector Split Review</h5>
									<p class="monospace title-has-line team-function">30-Apr-2015</p>
									<p class="team-description">Spring time means great backcountry snowboarding! Check out this review...</p>
									<a href="../news-feed/prospector-split-review.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/videos/protofamily-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Proto Family</h5>
									<p class="monospace title-has-line team-function">01-Mar-2016</p>
									<p class="team-description">New for next year...</p>
									<a href="../news-feed/proto-family.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/videos/tailgate1-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Tailgate AK Episode 1</h5>
									<p class="monospace title-has-line team-function">02-Mar-2015</p>
									<p class="team-description">See the adventures of heading out to Tailgate last spring...</p>
									<a href="../news-feed/tailgate-ak-episode-1.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/videos/tailgate2-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Tailgate AK Episode 2</h5>
									<p class="monospace title-has-line team-function">02-Mar-2015</p>
									<p class="team-description">Episode 2 of the trip to Tailgate AK...</p>
									<a href="../news-feed/tailgate-ak-episode-2.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/videos/Untitled-1-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.png');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">The Future of Snowboarding is Now!</h5>
									<p class="monospace title-has-line team-function">15-Dec-2015</p>
									<p class="team-description">The new Never Summer Type Two...</p>
									<a href="../news-feed/the-future-of-snowboarding-is-now.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/videos/Demos2_Cal.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">The Never Summer Swift. It's Just a Powder Board...</h5>
									<p class="monospace title-has-line team-function">23-Feb-2016</p>
									<p class="team-description">Andrew Buergin and Mary Boddington hit Crested Butte on the Never Summer Swift. </p>
									<a href="../news-feed/the-never-summer-swift-its-just-a-powder-board.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/videos/fam-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Welcome to the Family</h5>
									<p class="monospace title-has-line team-function">02-Mar-2015</p>
									<p class="team-description">This is Never Summer...</p>
									<a href="../news-feed/welcome-to-the-family.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/snowboards/videos/wood-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Woodward Summer Camps</h5>
									<p class="monospace title-has-line team-function">10-Jul-2015</p>
									<p class="team-description">Never Summer goes to camp...</p>
									<a href="../news-feed/woodward-summer-camps.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
					</ul>


        </div>
      </div>

  <!--</div>-->
</div>
