<div id="content">
  <div id="main">
    <div class="container">
      <div class="one_third">
        <img src="../../../../assets/img/snowboards/team/team-view/Nate_Sheehan.jpg" border="0" alt="" />
      </div>

     <div class="two_third last">
						<h1>Nate Sheehan</h1>
						<div><strong style="font-family: Helvetica;">MEET NATE...<span>&nbsp;</span></strong><span>Snowboarding for 20 years, other passions are surfing, mountain biking, and working on Subarus.</span>
						</div>
						<div>
							<br />
						</div>
						<div><strong style="font-family: Helvetica;">NATE'S FAVORITE NS BOARD IS...&nbsp;</strong><span>The one I'm currently riding, the Ripsaw. I like how incredibly snappy and responsive it is, great for jumping. And the shape is perfect for carving hard     and holding that edge off takeoffs. Love it.</span>
						</div>
					</div>
      <hr>
  </div>
</div>