<div id="content">
  <div class="top-parallax" style="background-image:url('../../../assets/products/snowboards/proto/17_JedCreative_Proto.jpg')"></div>

  <div id="main">
    <div class="container">

      <div class="one_half">
        <h3 class="title">Proto Type Two</h3>
        <p class="monospace title-has-line">All Mountain Twin</p>
        <div class="addthis_custom_sharing"></div>
        <hr class="small" />
        <p>
          The Proto Type Two is a perfect asymmetrical combination of the Funslinger and Ripsaw. Derived from the twin Proto HD, the new Proto Type Two takes the existing Proto HD core for a perfect mid flex, adds the Ripsaw Rocker Camber Profile for trench
          digging edge hold and tremendous pop, becoming the go anywhere, shred anything asym twin. This Snowboard of the Future’s deeper heelside sidecut, new space age topsheet, NS SuperLight Wood Core, and Vario Power Grip Sidecut creates a super stable, all mountain twin dominator.
        </p>
        <p>
          <b>PROTO TYPE TWO X:</b> A wide version of the original
        </p>
  
        <div class="buyNowWrapper">
          <ul class="buyNow">
            <li><a href="javascript:void(0)">Buy Now</a>
              <ul>
                <li><a href="../company/dealers.html">Find a Dealer</a></li>
                <li><a href="http://neversummer-snow.shptron.com/p/proto-type-two?pp=16" target="_blank">Buy Now Online</a></li>
              </ul>
            </li>
          </ul>
        </div>

        <hr class="medium" />
        <img src="../../../assets/products/snowboards/camber-ripsaw.png" />
      </div>

      <div class="one_half last">
        <hr class="small" />
        <img src="../../../assets/products/snowboards/proto/17ProtoT2.png" />
      </div>

      <hr>

      <section class="parallax specsfeatures" style="background-image: url('../../../assets/products/snowboards/techspecs_parallax.jpg'); background-position: 50% -3px;">
        <div class="overlay" style="background-color:rgba(255,255,255,0.75)">
          <div class="one_half">
            <h3 class="title-has-line">Specs</h3>
            <p>&nbsp;</p>
            <table>
              <thead>
                <tr>
                  <td>Size*</td>
                  <td>Waist</td>
                  <td>Edge</td>
                  <td>Sidecut (Toe/Heel)**</td>
                  <td>Tip / Tail</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>152</td>
                  <td>24.8</td>
                  <td>117</td>
                  <td>Vario 725/690</td>
                  <td>29.7</td>
                </tr>
                <tr>
                  <td>154</td>
                  <td>25.0</td>
                  <td>119</td>
                  <td>Vario 742/705</td>
                  <td>29.9</td>
                </tr>
                <tr>
                  <td>157</td>
                  <td>25.2</td>
                  <td>122</td>
                  <td>Vario 765/727</td>
                  <td>30.1</td>
                </tr>
                <tr>
                  <td>160</td>
                  <td>25.4</td>
                  <td>124</td>
                  <td>Vario 788/749</td>
                  <td>30.2</td>
                </tr>
                <tr>
                  <td>152X</td>
                  <td>25.9</td>
                  <td>117</td>
                  <td>Vario 725/690</td>
                  <td>30.6</td>
                </tr>
                <tr>
                  <td>155X</td>
                  <td>26.1</td>
                  <td>119</td>
                  <td>Vario 742/705</td>
                  <td>31.0</td>
                </tr>
                <tr>
                  <td>158X</td>
                  <td>26.3</td>
                  <td>122</td>
                  <td>Vario 764/726</td>
                  <td>31.2</td>
                </tr>
                <tr>
                  <td>161X </td>
                  <td>26.5</td>
                  <td>124</td>
                  <td>Vario 787/748</td>
                  <td>31.3</td>
                </tr>
                <tr>
                  <td>164X</td>
                  <td>26.7</td>
                  <td>127</td>
                  <td>Vario 806/766</td>
                  <td>31.5</td>
                </tr>
              </tbody>
            </table>
            <br />
            <p>&nbsp;</p>
            <p>* Measurements in centimeters. ** Multiple radius average.</p>
          </div>

          <div class="one_half last">
            <h3 class="title-has-line">Features</h3>
            <div>
              <ul>
                <li>TruGrit Topsheet </li>
                <li>Carbon Max Laminate Technology</li>
                <li>Ripsaw Rocker Camber</li>
                <li>Extended Transition Rocker Camber Profile</li>
                <li>Vario Power Grip Sidecut</li>
                <li>Low Profile Tip/Tail</li>
                <li>STS Pretensioned Fiberglass</li>
                <li>Bi-Lite Fiberglass</li>
                <li>NS SuperLight Wood Core</li>
                <li>Harmonic Tip/Tail Damper</li>
                <li>Perforated Rocker Pad</li>
                <li>RDS 2 Damping System</li>
                <li>Elastomeric Underfoot Stabilizers</li>
                <li>Sintered P-tex Sidewall</li>
                <li>Durasurf XT Sintered 5501 Base</li>
              </ul>
              <br />
            </div>
          </div>

          <div class="clear"></div>
        </div>
      </section>

      <hr>

      <div class="bottom-images">
        <div class="box-img">
          <img src="../../../../assets/products/snowboards/proto/NS_ProtoT217_2.jpg" alt="image" />
        </div>
        <div class="box-img">
          <img src="../../../../assets/products/snowboards/proto/NS_ProtoT217_1.jpg" alt="image" />
        </div>
        <div class="box-img">
         <img src="../../../../assets/products/snowboards/proto/NS_ProtoT217_3.jpg" alt="image" />
        </div>
      </div>

      <hr class="medium">

      <h3 class="text-align-center title-has-line">Ride Profile</h3>

      <hr class="small">

      <div class="one_third text-align-center">
        <div class="radial-counter">
          <div style="display: inline; width: 190px; height: 190px;">
            <canvas width="190" height="190" style="background-image:url('../../../assets/img/snowboards/dial-40.png')"></canvas>
            <input class="knob" data-gal="40" value="40" style="width: 99px;height: 63px;position: absolute;vertical-align: middle;margin-top: 63px;margin-left: -144px;border: 0px;background: none;font-style: normal;font-variant: normal;font-weight: bold;font-stretch: normal;font-size: 38px;line-height: normal;font-family: Arial;text-align: center;color: rgb(255, 255, 255);padding: 0px;-webkit-appearance: none;">
          </div>
          <h5 class="radial-counter-name">Freestyle</h5>
        </div>
      </div>

      <div class="one_third text-align-center">
        <div class="radial-counter">
        <div style="display: inline; width: 190px; height: 190px;">
          <canvas width="190" height="190" style="background-image:url('../../../assets/img/snowboards/dial-40.png')"></canvas>
          <input class="knob" data-gal="40" value="40" readonly="readonly" style="width: 99px; height: 63px; position: absolute; vertical-align: middle; margin-top: 63px; margin-left: -144px; border: 0px; background: none; font-style: normal; font-variant: normal; font-weight: bold; font-stretch: normal; font-size: 38px; line-height: normal; font-family: Arial; text-align: center; color: rgb(255, 255, 255); padding: 0px; -webkit-appearance: none;">
        </div>
          <h5 class="radial-counter-name">All Mountain</h5>
        </div>
      </div>

      <div class="one_third text-align-center last">
        <div class="radial-counter">
        <div style="display: inline; width: 190px; height: 190px;">
          <canvas width="190" height="190" style="background-image:url('../../../assets/img/snowboards/dial-20.png')"></canvas>
          <input class="knob" data-gal="20" value="20" style="width: 99px; height: 63px; position: absolute; vertical-align: middle; margin-top: 63px; margin-left: -144px; border: 0px; background: none; font-style: normal; font-variant: normal; font-weight: bold; font-stretch: normal; font-size: 38px; line-height: normal; font-family: Arial; text-align: center; color: rgb(255, 255, 255); padding: 0px; -webkit-appearance: none;">
        </div>
          <h5 class="radial-counter-name">Freeride</h5>
        </div>
      </div>

      <hr class="smallline">

      <div class="one_half">
        <h5 class="text-align-center title-has-line">Flex</h5>
        <ul class="progress-bar">
          <li>
            <div class="bar-wrap">
              <span data-width="37" style="width: 37%"><strong><i>37</i></strong></span>
            </div>
          </li>
        </ul>
        <table class="slidertable">
          <tr>
            <td>Soft</td>
            <td>Mid</td>
            <td>Mid Firm</td>
            <td>Firm</td>
          </tr>
        </table>
      </div>

      <div class="one_half last">
        <h5 class="text-align-center title-has-line">Damp</h5>
        <ul class="progress-bar">
          <li>
            <div class="bar-wrap">
              <span data-width="37" style="width: 37%"><strong><i>37</i></strong></span>
              </div>
          </li>
        </ul>
        <table class="slidertable">
          <tr>
            <td>Snappy</td>
            <td>Mid</td>
            <td>Smooth</td>
            <td>Cushy</td>
          </tr>
        </table>
      </div>

      <hr>

      <section class="parallax2 video-youtube" style="background-image: url('../../../../assets/products/snowboards/snowboardvideo-background.jpg'); background=position: 50% 21px; height: 1000px;">
        <div class="overlay text-align-center" style="background-color:rgba(0,0,0,0.0)">
          <h3 class="white title-has-line">Watch the Video</h3>
          <div class="cntVid">
            <figure class="youtube youtube-youtube">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/LDR1lDxTQ4A" frameborder="0" allowfullscreen></iframe>
           </figure>
          </div>
        </div>
      </section>

      <hr>

    </div>
  </div>
</div>










<!--<script>
function Shortcodes() {

  //Progress bar animations	
		$('.progress-bar li').each(function(i){		
			$(this).appear(function(){			
				var percent = $(this).find('span').attr('data-width');
				var $endNum = parseInt($(this).find('span strong i').text());
				var $that = $(this);			
				$(this).find('span').animate({
					'width' : percent + '%'
				},1600, function(){
				});			
				$(this).find('span strong').animate({
					'opacity' : 1
				},1400);			
				$(this).find('span strong i').countTo({
					from: 0,
					to: $endNum,
					speed: 1200,
					refreshInterval: 30,
					onComplete: function(){}
				});	 
				if(percent == '100'){
					$that.find('span strong').addClass('full');
				}	
			});
		});	

    // Radial Counters
  if( jQuery('.radial-counter').length > 0 ){		
			$(".knob").knob({
				width: 190,
				height: 190,
				fgColor: '#009ddd',
				bgColor: '#fff',
				inputColor: '#fff',
				dynamicDraw: true,
				thickness: 0.66,
				tickColorizeValues: true,
				skin:'tron',
				readOnly:true,
			});	
			$(".knob").appear(function(e){			
				var $this = $(this);
				var myVal = $this.attr("data-gal");	
			   $({value: 0}).animate({value: myVal}, {
				   duration: 2000,
				   easing: 'swing',
				   step: function () {
					   $this.val(Math.ceil(this.value)).trigger('change');
				   }
			   })			
			});	
		}
}
</script>-->