<div id="content">
  <div id="main">
    <div class="container">
      <div class="one_third">
        <img src="../../../../assets/img/snowboards/team/team-view/Mary_Boddington.jpg" border="0" alt="" />
      </div>

     <div class="two_third last">
						<h1>Mary Boddington</h1>
						<div><a href="https://youtu.be/RozWoQR39xg">CLICK HERE TO SEE MARY RIDE</a>
						</div>
						<div><strong><br /></strong>
						</div>
						<div><strong style="font-family: Helvetica;">MEET MARY...&nbsp;</strong><span>I grew up in Colorado Springs and moved to Crested Butte 10 years ago. Snowboarding and being in the mountains is my happiness.</span>
						</div>
						<div>
							<br />
						</div>
						<div><strong style="font-family: Helvetica;">MARY'S FAVORITE NS BOARD IS...&nbsp;</strong><span>I ride the 154 Raven. I love this board because its a strong solid board but also playful. The Raven is by far the best women specific I’ve ridden.</span>
						</div>
					</div>
      <hr>
  </div>
</div>