<div id="content">
  <div class="top-parallax" style="background-image:url('../../../assets/img/snowboards/tech/snowboard_tech.jpg')"></div>
  
  <div id="main">
    <div class="container">
      <h1 class="text-align-center title-has-line">Snowboard Tech</h1>

      <div id="tech-items">
<!--ROW 1-->
<!--1-->
						<div class="one_third has-animation">
							<div class="services-icon">
								<i class="fa fa-cubes"></i>
								<div class="service-info-text">
									<h5>Carbonium Laminate Technology</h5>
									<p>More carbon equals more power and performance. The Carbonium Laminate Technology combines an advanced top and base carbon matrix to maximize torsional response and strength where it’s needed most. The result is a lightweight yet powerful design
										that will keep the Carbonium Series boards going strong for years. NOTE: The Chairman has long Carbon V’s on the bottom of the core to put direct pressure over snow with a big Carbon X on top of the mid-section of the core for torsional rigidity
										between the feet.</p>
								</div>
							</div>
						</div>
<!--2-->
						<div class="one_third has-animation">
							<div class="services-icon">
								<i class="fa fa-check-circle-o"></i>
								<div class="service-info-text">
									<h5>Carbon VXR Laminate Technology</h5>
									<p>The Carbon VXR was the first carbon fiber configuration we designed for our Rocker Camber and we hit the nail on the head. Carbon V’s extended out from the inserts to the effective edge for quick response while stiffening the board torsionally.
										Additionally V’s are positioned to the ends of the board providing maximum boost and pop when loaded up. This is an ideal layup to transfer energy to the end of the effective edge, tip/ tail and still give the board a softer more forgiving mid
										flex for torsional control.</p>
								</div>
							</div>
						</div>
<!--3-->
						<div class="one_third has-animation last">

							<div class="services-icon">
								<i class="fa fa-rocket"></i>
								<div class="service-info-text">
									<h5>NS Custom Flightcore</h5>
									<p>Never Summer’s exclusive CUSTOM FLIGHT CORE is the most technically advanced core system we’ve ever used. Designed and built in NS’ woodcore facility, these cores fuse premium hardwood and ultra light softwood laminates together with vertical
										layers of elastomeric vibration dampers. These lightweight perimeter dampers actually increase vibration absorption the faster you ride while maintaining an incredible amount of snap and liveliness, providing a level of edge&nbsp;hold and high-speed
										performance that only a Never Summer snowboards can deliver.&nbsp;</p>
								</div>
							</div>
						</div>

<!--ROW 2-->
<!--4-->
						<div class="one_third has-animation">
							<div class="services-icon">
								<i class="fa fa-level-up"></i>
								<div class="service-info-text">
									<h5>Durasurf Sintered 4501 Base</h5>
									<p>Crown Plastics has been the industry leader in sintered materials for over 36 years and has created the DURASURF 4501 sintered base exclusively for Never Summer. This new high-density base is extremely fast and will provide unmatched performance
										and durability.&nbsp;</p>
								</div>
							</div>
						</div>
<!--5-->
						<div class="one_third has-animation">
							<div class="services-icon">
								<i class="fa fa-gears"></i>
								<div class="service-info-text">
									<h5>Dampness &amp; Flex Meters</h5>
									<p>Dampness: Cushy is very damp (more stable and smooth riding at high speeds), Snappy is least damp (more snappy and lively underfoot) Flex: Firm is stiffer in flex (better for high speed freestyle and freeriding, better for bigger riders), Soft
										is softest in flex (better for presses, butters, more forgiving).</p>
								</div>
							</div>
						</div>
<!--6-->
						<div class="one_third has-animation last">
							<div class="services-icon">
								<i class="fa fa-leaf"></i>
								<div class="service-info-text">
									<h5>Bi-Lite Fiberglass</h5>
									<p>BI-LITE fiberglass combines many of the strength characteristics of STS ADVANCED fiberglass with&nbsp;an ultra light glass fiber matrix. This delivers incredible freestyle and freeride performance without sacrificing durability.</p>
								</div>
							</div>
						</div>

<!--ROW 3-->
<!--7-->
						<div class="one_third has-animation">
							<div class="services-icon">
								<i class="fa fa-bomb"></i>
								<div class="service-info-text">
									<h5>Carbonium Topsheet</h5>
									<p>A very durable, scratch and chip resistant material with a high tech carbon fiber like visual. This textured material also provides more grip than a gloss topsheet, working as a built in stomp pad.&nbsp;</p>
								</div>
							</div>
						</div>
<!--8-->
						<div class="one_third has-animation">
							<div class="services-icon">
								<i class="fa fa-magnet"></i>
								<div class="service-info-text">
									<h5>Durasurf XT Sintered 5501 Base</h5>
									<p>Crown Plastics has developed an exclusive, super fast, durable sintered base specifically for the Carbonium Series. Just the right amount of graphite has been added making the DURASURF 5501 XT base the fastest we’ve ever used.<strong></strong>
									</p>
								</div>
							</div>
						</div>
<!--9-->
						<div class="one_third has-animation last">
							<div class="services-icon">
								<i class="fa fa-database"></i>
								<div class="service-info-text">
									<h5>Elastomeric Underfoot Stabilizers</h5>
									<p>Elastomeric Rubber Stabilizers directly below the mounting area provide optimum vibration absorption and increase high-speed stability while reducing foot fatigue.
									</p>
								</div>
							</div>
						</div>

<!--ROW 4-->
<!--10-->
						<div class="one_third has-animation">
							<div class="services-icon">
								<i class="fa fa-crosshairs"></i>
								<div class="service-info-text">
									<h5>Freestyle Damping System</h5>
									<p>Specifically designed for our Evo, Revolver and Onyx models, FDS utilizes thinner rubber foil for a lighter snappier feel. All this, while still providing stability not generally found in a freestyle, pipe/park board.<strong></strong>
									</p>
								</div>
							</div>
						</div>
<!--11-->
						<div class="one_third has-animation">
							<div class="services-icon">
								<i class="fa fa-ellipsis-v"></i>
								<div class="service-info-text">
									<h5>Harmonic Tip/Tail Damper</h5>
									<p>Harmonic dampers in the tip and tail take out a high percentage of residual vibration by quieting the nose and tail. This enhances stability at speed, in variable snow conditions and on board landings without deadening the liveliness and pop
										of the cambered areas.<strong></strong>
									</p>
								</div>
							</div>
						</div>
<!--12-->
						<div class="one_third has-animation last">
							<div class="services-icon">
								<i class="fa fa-ellipsis-h"></i>
								<div class="service-info-text">
									<h5>Low Profile Tip/Tail</h5>
									<p>A low profile in the nose and tail of the snowboard maximizes material contact with the snow for more powerful ollie/nollie pop and adds stability to your landings. Low Profile Tip/Tail also reduces the plowing effect in the nose for better glide
										to the next feature and superior float when it’s deep.</p>
								</div>
							</div>
						</div>

<!--Row 5-->
<!--13-->
						<div class="one_third has-animation">
							<div class="services-icon">
								<i class="fa fa-trophy"></i>
								<div class="service-info-text">
									<h5>NS SuperLight Wood Core</h5>
									<p>Taking our custom flight core even further, we’ve designed the SUPERLIGHT WOOD CORE specifically for our new Carbonium series. This core blends extremely light wood with durable hardwood for unmatched strength to weight ratio.</p>
								</div>
							</div>
						</div>
<!--14-->
						<div class="one_third has-animation">
							<div class="services-icon">
								<i class="fa fa-bullseye"></i>
								<div class="service-info-text">
									<h5>Perforated Rocker Pad</h5>
									<p>Perforated to reduce weight, these thin elastomeric pads are strategically located in the mid-section of the Proto HD/Proto HDX. This absorbs the vibration between the feet and provides a buffer in the rocker area, which is in continuous contact
										with the snow.</p>
								</div>
							</div>
						</div>
<!--15-->
						<div class="one_third has-animation last">
							<div class="services-icon">
								<i class="fa fa-spinner"></i>
								<div class="service-info-text">
									<h5>Press Flex Core</h5>
									<p>This rocker core design is perfect for the Evo, Revolver and Onyx models. This core features 2 specific softer flex points between the feet creating better hinge points for ultimate pressing and ollie performance.&nbsp;</p>
								</div>
							</div>
						</div>

<!--ROW 6-->
<!--16-->
						<div class="one_third has-animation">
							<div class="services-icon">
								<i class="fa fa-circle-thin"></i>
								<div class="service-info-text">
									<h5>RDS 1 Damping System</h5>
									<p>The laminated damping layers on the RDS 1 are more extensive with the full length of the effective edge, less extensive in the tip and tail. This combines high-speed stability with reduced tip and tail swing weight.</p>
								</div>
							</div>
						</div>
<!--17-->
						<div class="one_third has-animation">
							<div class="services-icon">
								<i class="fa fa-circle-o-notch"></i>
								<div class="service-info-text">
									<h5>RDS 1&#43; Damping System</h5>
									<p>Designed exclusively for The Chairman, Prospector and Summit RDS 1+ is our most extensive damping system. With twice the amount of elastomeric rubber foil as RDS 1 running along the entire perimeter of the board for unmatched stability at speed.
										RDS 1+ provides incredible vibration absorption along the effective edge while stabilizing the nose of the board in variable conditions.</p>
								</div>
							</div>
						</div>
<!--18-->
						<div class="one_third has-animation last">
							<div class="services-icon">
								<i class="fa fa-dot-circle-o"></i>
								<div class="service-info-text">
									<h5>RDS 2 Damping System</h5>
									<p>This lightweight system uses three narrower laminated damping layers that provide the perfect combination of vibration absorption and stability. RDS 2 is the perfect balance of freeride stability and freestyle liveliness.</p>
								</div>
							</div>
						</div>

<!--ROW 7-->
<!--19-->
						<div class="one_third has-animation">
							<div class="services-icon">
								<i class="fa fa-minus-circle"></i>
								<div class="service-info-text">
									<h5>Sintered P-tex Sidewall</h5>
									<p>We were the first snowboard company to use and perfect SINTERED P-TEX SIDEWALLS, and we’ve never seen one crack. Unlike conventional ABS sidewalls, that have a tendency to crack in colder temperatures, SINTERED P-TEX SIDEWALLS maintain their
										integrity at any temperature.</p>
								</div>
							</div>
						</div>
<!--20-->
						<div class="one_third has-animation">
							<div class="services-icon">
								<i class="fa fa-bars"></i>
								<div class="service-info-text">
									<h5>STS Pretensioned Fiberglass</h5>
									<p>The world’s best snowboard fiberglass, period. Our STS ADVANCED FIBERGLASS is a pre-hardened, pre-tensioned, layered laminate that has added elastomer stringers between the 0 degree and 90 degree glass fibers (the length of the effective edge).
										This produces a stronger bond between the individual glass laminates giving our snowboards unmatched strength, edge hold and performance.</p>
								</div>
							</div>
						</div>
<!--21-->
						<div class="one_third has-animation last">
							<div class="services-icon">
								<i class="fa fa-minus"></i>
								<div class="service-info-text">
									<h5>Transition Area</h5>
									<p>A small, flat section in the snowboard profile that improves both turn initiation and powder floatation.</p>
								</div>
							</div>
						</div>

<!--ROW 8-->
<!--22-->
						<div class="one_third has-animation">
							<div class="services-icon">
								<i class="fa fa-dashboard"></i>
								<div class="service-info-text">
									<h5>Vario Power Grip Sidecut</h5>
									<p>Vario Power Grip Sidecut utilizes multiple radiuses creating extra contact points to enhance edge hold. A flat section in the rocker area provides a broad contact point when flexed, however when unbent allows the board to track straight and not
										catch. Flanking this straight section are two shallow radius which provide the second and third contact points. Towards the ends of the sidecut are deep radius which render quick turn initiation and the final contact points. <strong>The Chairman Power Grip Sidecut has two more radiuses for additional edge hold.</strong>
									</p>
								</div>
							</div>
						</div>
<!--23-->
						<div class="one_third has-animation">
							<div class="services-icon">
								<i class="fa fa-cube"></i>
								<div class="service-info-text">
									<h5>Women's Carbonium Laminate Technology</h5>
									<p>WCLT has been designed specifically for the Carbonium Raven. Narrow Carbon stringers on the top and bottom of the wood core provide power and energy transfer without sacrificing the torsional control a lighter rider needs. Additional fiberglass
										strips reinforce the effective edge for hold and durability.</p>
								</div>
							</div>
						</div>

					</div>
    </div>
  </div>
  
</div>
