<div id="content">

			<!--<div id="hero" class="hero-big static-hero opacity-hero dark-bg">

				<div class="hero-image" style="background-image:url('../_photos/heros/Longboardteam.jpg')">
					<div class="overlay" style="background-color:rgba(0,0,0,0.1)">
						<div class="clapat-caption dark-bg">
							<div class="caption-content bottom-left"></div>
						</div>
					</div>
				</div>

			</div>-->
      <div class="top-parallax" style="background-image:url('../../../assets/img/longboards/team/Longboardteam.jpg')"></div>


			<div id="main">


				<div class="container">
					<h1 class="title-has-line text-align-center">Team</h1>
					<ul class="our-team">
						<li class="team-member" style="background-image:url('../../../assets/img/longboards/team/Alec_Olguin-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Alec Olguin</h5>
									<p class="monospace title-has-line team-function" style="display:none;"></p>
									<p class="team-description">Hometown - Denver, CO</p>
									<a href="../team/alec-olguin.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/longboards/team/Dave_Morton_LB-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Dave &quot;The Bear&quot; Morton</h5>
									<p class="monospace title-has-line team-function" style="display:none;"></p>
									<p class="team-description">Hometown - Aurora, CO</p>
									<a href="../team/dave-the-bear-morton.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/longboards/team/Lyle_Hansberger_LB-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Lyle Hansberger</h5>
									<p class="monospace title-has-line team-function" style="display:none;"></p>
									<p class="team-description">Hometown - Denver, CO</p>
									<a href="../team/lyle-hansberger.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/longboards/team/Tye_Donnely_LB-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Tye Donnelly</h5>
									<p class="monospace title-has-line team-function" style="display:none;"></p>
									<p class="team-description">Hometown - Oceanside, CA</p>
									<a href="../team/tye-donnelly.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
						<li class="team-member" style="background-image:url('../../../assets/img/longboards/team/Zach_Bailey_LB-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
							<div class="team-overflow">
								<div class="team-info">
									<h5 class="team-name">Zach Bailey</h5>
									<p class="monospace title-has-line team-function" style="display:none;"></p>
									<p class="team-description">Hometown - Vail, CO</p>
									<a href="../team/zach-bailey.html" class="clapat-button outline-button">Read More</a>
								</div>
							</div>
						</li>
					</ul>

				</div>

			</div>
	</div>
