.top-parallax {
    height: 700px;
	width: 100%;
    top: 10px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#main {
    margin-top: 50px;
}