<p>
  footer works!
</p>


<footer>
    <div id="footer-content">  
        <div class="footer-grey"> 
            <div class="container">    
                <ul class="footer-socials">      
                    <li><a href="https://www.facebook.com/NeverSummerIndustries" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/neversummerind" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UC5DbXM5UmMNfVkP4fPkSYFg" target="_blank"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="http://instagram.com/neversummerindustries" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://plus.google.com/+neversummer/posts" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                    
                </ul>
                
                <p class="monospace">&copy; <script>document.write(new Date().getFullYear())</script> Never Summer Industries. All rights Reserved. Website by <a href="http://www.creationchamber.com" target="_blank">Creation Chamber</a></p>
            </div>
        </div>
    </div>    
</footer>