<header>
    <div id="header-wrapper">
        <!-- NS Logo -->
        <div id="logo">
          <a href="#"><img src="../assets/img/logo.png" alt="Never Summer Industries"></a>
        </div>

        <!-- Menu Button-->
        <a class="btn_menu clapat-menubtn">
            <span class="btn_menu_line"></span>
            <span class="btn_menu_line"></span>
            <span class="btn_menu_line"></span>
        </a>

        <!-- Primary Menu-->
        <div id="secondary-menu">
            <ul class="menu">
                <li><a href="#">Snowboards</a>
                    <ul>
                        <li><a href="snowboards/index.html">Snowboard Home</a></li>
                        <li><a href="snowboards/videos.html">Snowboard Videos</a></li>
                        <li><a href="snowboards/tech.html">Snowboard Tech</a></li>
                        <li><a href="snowboards/team.html">Snowboard Team</a></li>
                    </ul>
                </li>
                <li><a href="#">Longboards</a>
                    <ul>
                        <li><a href="longboards/index.html">Longboard Home</a></li>
                        <li><a href="longboards/videos.html">Longboard Videos</a></li>
                        <li><a href="longboards/tech.html">Longboard Tech</a></li>
                        <li><a href="longboards/team.html">Longboard Team</a></li>
                    </ul>
                </li>
                <li><a href="#">Apparel</a></li>
                <li><a href="#">Calendar</a></li>
                <li><a href="#">Company</a>
                    <ul>
                        <li><a href="company/dealers.html">Dealers</a></li>
                        <li><a href="company/warranty.html">Warranty / Ticket to Shred Registration</a></li>
                        <li><a href="company/news.html">News Feed</a></li>
                        <li><a href="company/index.html">About Us</a> </li>
                        <li><a href="company/contact.html">Contact Us</a></li>
                        <li><a href="company/moto.html">Moto</a></li>
                        <li><a href="http://www.scsunlimited.com/sled-wraps/signature-series/never-summer.html" target="_blank">Snowmobile Wraps</a></li>
                    </ul>
                </li>
                <li class="toggle-search"><a href="index.html#"><i class="fa fa-search"></i></a></li>
            </ul>
        </div>

        <!-- Overlay Menu -->
        <!--<nav class="clapat-overlay-menu">

        </nav>-->

    </div>
</header>


        <!--Overlay Menu -->
        <!--<nav class="clapat-overlay-menu">-->
            <!--<div class="clapat-menu-container">
                <div class="outer">
                    <div class="inner">
                        <div class="scr_menu">
                            <div class="outer">
                                <div class="inner text-align-center">
                                    <ul class="categories">
                                        <li class="menu-item"><a href="index.html">Home</a></li>

                                        <li class="menu-item dropdown"><a class="no-action">Snowboards</a>
                                          <ul class="submenu">                         
                                                <li><a href="snowboards/index.html">Snowboard Home</a></li>
                                                <li><a href="snowboards/videos.html">Snowboard Videos</a></li>
                                                <li><a href="snowboards/tech.html">Snowboard Tech</a></li>
                                                <li><a href="snowboards/team.html">Team Page</a></li>
                                            </ul>
                                        </li> 

                                        <li class="menu-item dropdown"><a class="no-action">Longboards</a>
                                          <ul class="submenu">                         
                                                <li><a href="longboards/index.html">Longboard Selector</a></li>
                                                <li><a href="longboards/videos.html">Longboard Videos</a></li> 
                                                <li><a href="longboards/tech.html">Longboard Tech</a></li>                     
                                            </ul>
                                        </li>
  
                                        <li class="menu-item"><a href="apparel/index.html">Apparel</a></li>

                                        <li class="menu-item"><a href="company/calendar.html">Calendar</a></li>

                                        <li class="menu-item dropdown"><a class="no-action">Company</a>
                                          <ul class="submenu">
                                                <li><a href="company/dealers.html">Dealers</a></li>
                                                <li><a href="company/warranty.html">Warranty / Ticket to Shred Registration</a></li>
                                                <li><a href="company/news.html">News Feed</a></li>
                                                <li><a href="company/index.html">About Us</a> </li>
                                                <li><a href="company/contact.html">Contact Us</a></li>
                                                <li><a href="company/moto.html">Moto</a></li>    
                                                <li><a href="http://www.scsunlimited.com/sled-wraps/signature-series/never-summer.html" target="_blank">Snowmobile Wraps</a></li>                  
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
                
      <!-- Hamburger Menu -->
                <!--<a class="clapat-menuclosebtn">
                  <div class="closebtn-rotate">
                        <span class="btn_menu_line"></span>
                        <span class="btn_menu_line"></span>
                    </div>
                </a>

                <p class="menu-copyright"></p>
                <ul class="menu-socials">                        
                    <li><a href="https://www.facebook.com/NeverSummerIndustries" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/neversummerind" target="_blank"><i class="fa fa-twitter"></i></a></li> 	
                    <li><a href="https://www.youtube.com/channel/UC5DbXM5UmMNfVkP4fPkSYFg" target="_blank"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="http://instagram.com/neversummerindustries" target="_blank"><i class="fa fa-instagram"></i></a></li>
                  <li><a href="https://plus.google.com/+neversummer/posts" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div>

            <div class="clapat-menubg">
                <div class="clapat-menubg-overlay"></div>
            </div>    -->
        <!--</nav>-->
        <!-- ENDING OF Overlay Menu-->
