<div id="content">
  <div id="main">
    <div class="container">
      <h1 class="title-has-line text-align-center">25th Anniversary Items</h1>
      <h6 class="text-align-center catalog-description"> </h6>

      <div id="shop-wrapper" data-col="3">
						<ul class="productList productLarge">
							<li id="catProdTd_10871389" class="productItem">

								<div class="product single-page">

									<div class="one_half">
                    <div class="cart-img">
                      <img src="../../../../assets/img/special-edition/25hatc1.jpg" alt="">
                    </div>
	
									</div>

									<div class="one_half last">
										<br /><br /><br /><br />
										<h1 class="title-has-line"> 25th Anniversary Hat Camoflauge</h1>
										<p class="monospace title-has-line" style="display:none;">
											<span class="sku_wrapper">SKU: <span class="sku">025174DB</span></span>
										</p>

										<h5>
											<span class="amount"><strong>$45.00</strong> </span>
										</h5>

										<p>
											Limited Edition Never Summer X Grassroots 25th Anniversary Hat - Limited amount made, get it while it lasts!
										</p>

										<br />

										<div class="addthis_custom_sharing"></div>

										<br />
										<div id="catProdAttributes2_10871389" class="productAttributes">
											<div class="catProductAttributeGroup" data-productattributegroup="6165077">
												<div class="catProdAttributeTitle">Size</div>
												<div class="catProdAttributeItem"><select mandatory="1"><option value="">-- Please select --</option><option value="36217838">L/XL </option><option value="36217839">S/M </option></select></div>
											</div>
										</div>
										<br />

										<div class="variations_button">
											<form action="#">
												<div class="minus"></div>
												<input id="Units_10871389" class="productTextInput" name="AddToCart_Amount" type="text" value="1" />
												<div class="plus"></div>
											</form>
											<input class="productSubmitInput" type="submit" value=" Buy Now" />
										</div>

									</div>
								</div>
							</li>
						</ul>
					</div>

          <hr>

    </div>
  </div> 
</div> 