<div class="apparel-header">
	<h1 class="text-align-center">Women's</h1>
		<ul id="categories">
			<li><a [routerLink]="['/store//apparel/shirts']">Shirts</a></li>
			<li><a [routerLink]="['/store//apparel/hoodies']">Hoodies</a></li>
			<li><a [routerLink]="['/store//apparel/hats']">Hats</a></li>
			<li><a [routerLink]="['/store//apparel/accessories']">Accessories</a></li>
			<li><a [routerLink]="['/store//apparel/mens']">Mens</a></li>
			<li><a [routerLink]="['/store//apparel/womens']">Womens</a></li>
			<li><a [routerLink]="['/store//apparel/kids']">Kids</a></li>
		</ul>
</div>

<div id="content">	

	<!--<div class="top-parallax" style="background-image:url('../../assets/img/apparel/ApparelHero.jpg')"></div>-->
	<div class="store-img">
		<img src="../../assets/img/apparel/ApparelHero.jpg" alt="">
	</div>

	<div *ngFor="let women of womens">
      <p>{{women.name}}</p>
      <img src="{{women.photo}}" alt="">
    </div>
</div>

