<div id="content">
  <div class="top-parallax" style="background-image:url('../../../../assets/products/longboards/Deviant/DeviantHero16.jpg')"></div>

  <div id="main">
    <div class="container">

      <div class="one_half">
        <h3 class="title">Deviant</h3>
        <p class="monospace title-has-line">Freeride Downhill</p>
        <div class="addthis_custom_sharing"></div>
        <hr class="small" />
        <p>
          Deviate from your typical freeride downhill board. We created the Deviant for the rider that loves the freedom of the slide and the thrill of the downhill. This skate features a symmetrical double drop rocker with a progressive, elliptical ‘W’ concave and ergonomic pockets that lock in your feet. The Deviant is your new normal. 
        </p>
        <br />
        <div class="buyNowWrapper">
          <ul class="buyNow">
            <li><a href="javascript:void(0)">Buy Now</a>
              <ul>
                <li><a href="../company/dealers.html">Find a Dealer</a></li>
                <li><a href="http://neversummer.shptron.com/p/2016-deviant?pp=15" target="_blank">Buy Online - Complete</a></li>
                <li><a href="http://neversummer.shptron.com/p/2016-deviant-deck-only?pp=15" target="_blank">Buy Online - Deck Only</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <div class="one_half last">
        <hr class="small" />
        <img src="../../../../assets/products/longboards/Deviant/Deviant16_2.png" />
      </div>

      <hr>

      <section class="parallax" style="background-image: url('../../../../assets/products/longboards/longboards-4.jpg'); background-position: 50% 59px;">
        <div class="overlay" style="background-color:rgba(255,255,255,0.0)">
          <div class="one_half">
            <h3 class="title-has-line">Specs</h3>
            <table class="specstable">
              <thead>
                <tr>
                  <td>Length</td>
                  <td>Width</td>
                  <td>Adjustable Wheel Base</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>42"</td>
                  <td>10"</td>
                  <td>29.6" </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="one_half last" style="color:#ccc;">
            <h3 class="title-has-line">Features</h3>
            <ul class="spec-list">
              <li>American Made</li>
              <li>Symmetrical Shape</li>
              <li>3/8" Rocker</li>
              <li>'W' Concave</li>
              <li>3/4" Drop-Down and Drop-Thru</li>
              <li>Multi-Horizontal Maple Veneer Core Technology</li>
              <li>Carbonium Base Finish</li>
              <li>P-tex Nose and Tail Protection</li>
            </ul>
            <ul class="spec-list">
              <li>5.4 lb Deck Only </li>
              <li>9.2 lb Complete</li>
              <li><em>All weights w/grip tape and will vary with handmade boards*</em></li>
            </ul>
          </div>
          <div class="clear"></div>
        </div>
      </section>

      <hr>

      <div class="bottom-images">
        <div class="box-img">
          <img src="../../../../assets/products/longboards/Deviant/DeviantView1-16.jpg" alt="image" />
        </div>
        <div class="box-img">
          <img src="../../../../assets/products/longboards/Deviant/DeviantView2-16.jpg" alt="image" />
        </div>
        <div class="box-img">
         <img src="../../../../assets/products/longboards/Deviant/deviant2016completeview.jpg" alt="image" />
        </div>
      </div>

      <hr>

      <section class="parallax video-youtube" style="background-image: url('../../../../assets/products/longboards/longboards-hero.jpg');">
        <div class="overlay text-align-center" style="background-color:rgba(0,0,0,0.0)">
          <h3 class="white title-has-line">Watch the Video</h3>
          <div class="cntVid">
            <figure class="youtube youtube-youtube">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/5ubFdCxUVXY" frameborder="0" allowfullscreen></iframe>
           </figure>
          </div>
        </div>
      </section>

      <hr>
      
    </div>
  </div>
</div>