<div id="content">
  <div id="main">
    <div class="container">
      <h1 class="title-has-line text-align-center">25th Anniversary Items</h1>
      <h6 class="text-align-center catalog-description"> </h6>
      <div id="shop-wrapper" data-col="3">
        <ul class="productList productSmall">
          <li class="product has-animation" data-animation="fade-in-from-bottom" data-delay="100" style="opacity: 1; bottom: 0px;">
            <a class="ajax-link" [routerLink]="['/store/special-edition/camoflauge']">
              <img src="../../../assets/img/special-edition/25hatc1-Action=thumbnail&Width=400&algorithm=fill_proportional.jpg">
							<div class="product_overlay">
								<span class="price monospace">
									<ins>
										<span class="amount">$45.00</span>
									</ins>
								</span>
								<h4 class="product_title">25th Anniversary Hat Camoflauge</h4>
							</div>
            </a>
						<a class="add_to_cart_button" href="#">View Details</a>
          </li>

					<li class="product has-animation" data-animation="fade-in-from-bottom" data-delay="100" style="opacity: 1; bottom: 0px;">
            <a class="ajax-link" href="#">
              <img src="../../../assets/img/special-edition/25hatg1-Action=thumbnail&Width=400&algorithm=fill_proportional.jpg">
							<div class="product_overlay">
								<span class="price monospace">
									<ins>
										<span class="amount">$45.00</span>
									</ins>
								</span>
								<h4 class="product_title">25th Anniversary Hat Grey</h4>
							</div>
            </a>
						<a class="add_to_cart_button" href="#">View Details</a>
          </li>

					<li class="product has-animation" data-animation="fade-in-from-bottom" data-delay="100" style="opacity: 1; bottom: 0px;">
            <a class="ajax-link" href="#">
              <img src="../../../assets/img/special-edition/25mitt1-Action=thumbnail&amp;Width=400&amp;algorithm=fill_proportional.jpg">
							<div class="product_overlay">
								<span class="price monospace">
									<ins>
										<span class="amount">$59.95</span>
									</ins>
								</span>
								<h4 class="product_title">25 to Life Mitt</h4>
							</div>
            </a>
						<a class="add_to_cart_button" href="#">View Details</a>
          </li>

					<li class="product has-animation" data-animation="fade-in-from-bottom" data-delay="100" style="opacity: 1; bottom: 0px;">
            <a class="ajax-link" href="#">
              <img src="../../../assets/img/special-edition/25glove1-Action=thumbnail&amp;Width=400&amp;algorithm=fill_proportional.jpg">
							<div class="product_overlay">
								<span class="price monospace">
									<ins>
										<span class="amount">$79.95</span>
									</ins>
								</span>
								<h4 class="product_title">25 to Life Glove</h4>
							</div>
            </a>
						<a class="add_to_cart_button" href="#">View Details</a>
          </li>

					<li class="product has-animation" data-animation="fade-in-from-bottom" data-delay="100" style="opacity: 1; bottom: 0px;">
            <a class="ajax-link" href="#">
              <img src="../../../assets/img/special-edition/NEVER-SUMMER-Flat-Action=thumbnail&amp;Width=400&amp;algorithm=fill_proportional.jpg">
							<div class="product_overlay">
								<span class="price monospace">
									<ins>
										<span class="amount">$90.00</span>
									</ins>
								</span>
								<h4 class="product_title">Spyderco Special Edition Knife</h4>
							</div>
            </a>
						<a class="add_to_cart_button" href="#">View Details</a>
          </li>
        </ul>

				<hr>

      </div>
    </div>
  </div>
</div>
