<div id="content">
	<div class="top-parallax" style="background-image:url('../../../assets/img/home/1101HomeHero.jpg')">
		<div class="outer">
			<div class="inner">
				<div *ngIf="playActive" class="play-icon">
					><i class="fa fa-play" (click)="onClick()"></i>
				</div>
				<div *ngIf="clicked" class="cntVid">
					<figure class="youtube youtube-youtube">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/UNsyfauAdg8" frameborder="0" allowfullscreen></iframe>
					</figure>
				</div>
			</div>
		</div>
	</div>

	<div id="main">
		<div class="container">
			<hr class="small" />
			<section class="parallax" style="background-image: url('../../assets/img/home/parallax-newsfeed-home-snow.jpg');">
				<div class="overlay text-align-center" style="background-color:rgba(0,0,0,0.0)">
					<h3 class="white">Feed</h3>
					<p class="monospace title-has-line white">News, Events, and Other Never Summer Happenings</p>
				</div>
			</section>
			<hr>
			<ul class="our-team">
				<li class="team-member" style="background-image:url('../../assets/img/home/openday11-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
					<div class="team-overflow">
						<div class="team-info">
							<h5 class="team-name">Loveland Opening Day</h5>
							<p class="monospace title-has-line team-function">29-Nov-2016</p>
							<p class="team-description">Opening day at Loveland! </p>
							<a href="news-feed/loveland-opening-day.html" class="clapat-button outline-button">Read More</a>
						</div>
					</div>
				</li>
				<li class="team-member" style="background-image:url('../../assets/img/home/pebs-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
					<div class="team-overflow">
						<div class="team-info">
							<h5 class="team-name">Proto Type Two Under Investigation</h5>
							<p class="monospace title-has-line team-function">29-Nov-2016</p>
							<p class="team-description">Never Summer's Proto Type Two under investigation for using PEBs and winning Good Wood</p>
							<a href="news-feed/proto-type-two-under-investigation.html" class="clapat-button outline-button">Read More</a>
						</div>
					</div>
				</li>
				<li class="team-member" style="background-image:url('../../assets/img/home/BI_TC_INT-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
					<div class="team-overflow">
						<div class="team-info">
							<h5 class="team-name">Board Insiders and Tracey Canaday</h5>
							<p class="monospace title-has-line team-function">14-Sep-2016</p>
							<p class="team-description">Interview with owner Tracey Canaday about Never Summer</p>
							<a href="news-feed/board-insiders-and-tracey-canaday.html" class="clapat-button outline-button">Read More</a>
						</div>
					</div>
				</li>
				<li class="team-member" style="background-image:url('../../assets/img/home/warlockboardinsiders1-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
					<div class="team-overflow">
						<div class="team-info">
							<h5 class="team-name">Board Insiders Review</h5>
							<p class="monospace title-has-line team-function">23-Jun-2016</p>
							<p class="team-description">See a sneak peak on the Never Summer Warlock review!</p>
							<a href="news-feed/board-insiders-preview-review.html" class="clapat-button outline-button">Read More</a>
						</div>
					</div>
				</li>
				<li class="team-member" style="background-image:url('../../assets/img/home/Wingmanedit-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
					<div class="team-overflow">
						<div class="team-info">
							<h5 class="team-name">Everyone needs a Wingman!</h5>
							<p class="monospace title-has-line team-function">16-May-2016</p>
							<p class="team-description">New Never Summer Wingman!</p>
							<a href="news-feed/everyone-needs-a-wingman.html" class="clapat-button outline-button">Read More</a>
						</div>
					</div>
				</li>
				<li class="team-member" style="background-image:url('../../assets/img/home/dimevideo16-Action=thumbnail&amp;Width=500&amp;Height=500&amp;algorithm=fill_proportional.jpg');">
					<div class="team-overflow">
						<div class="team-info">
							<h5 class="team-name">New Never Summer Dime</h5>
							<p class="monospace title-has-line team-function">20-Apr-2016</p>
							<p class="team-description">The Dime is the perfect slash and stash deck!</p>
							<a href="news-feed/new-never-summer-dime.html" class="clapat-button outline-button">Read More</a>
						</div>
					</div>
				</li>
			</ul>
		</div>

		<hr class="small"/>

		<div class="container">
			<h2 class="text-align-center">Featured Products</h2>
			<p class="monospace title-has-line text-align-center">The Latest and Greatest</p>
		</div>

		<div id="portfolio-wrap">
			<div id="portfolio" data-col="3">
				<div class="item1" style="background-color:#eee;">
					<a [routerLink]="['snowboards/board/proto-type-two']">
						<div class="item-content" style="background-image:url('../../assets/products/snowboards/proto/NS_ProtoT217_1-Action=thumbnail&amp;Width=715&amp;Height=570&amp;algorithm=fill_proportional.jpg')"></div>
						<div class="item-overlay">
							<span class="item-title">Proto Type Two</span>
							<span class="item-cat">All Mountain Twin</span>
						</div>
					</a>
				</div>
				<div class="item2" style="background-color:#eee;">
					<a [routerLink]="['snowboards/board/twenty-five']">
						<div class="item-content" style="background-image:url('../../assets/products/snowboards/Cobra/NS_TwentyFive17_1-Action=thumbnail&amp;Width=715&amp;Height=570&amp;algorithm=fill_proportional.jpg')"></div>
						<div class="item-overlay">
							<span class="item-title">Twenty Five</span>
							<span class="item-cat">Freeride</span>
						</div>
					</a>
				</div>
				<div class="item3" style="background-color:#eee;">
					<a [routerLink]="['snowboards/board/warlock']">
						<div class="item-content" style="background-image:url('../../assets/products/snowboards/Evo/NS_Warlock17_1-Action=thumbnail&amp;Width=715&amp;Height=570&amp;algorithm=fill_proportional.jpg')"></div>
						<div class="item-overlay">
							<span class="item-title">Warlock</span>
							<span class="item-cat">Freestyle Twin</span>
						</div>
					</a>
				</div>

			</div>
		</div>


	</div>
</div>

