.top-parallax {
    height: 700px;
    top: 120px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*--------------------------------------------------
	06. Content Styles
---------------------------------------------------*/				
			
#content:after {
	clear: both;
	content: " ";
	display: block;
	height: 0;
	visibility: hidden;
}

.overlay {
	height:100%;
	width:100%;
}

#main {
	position:relative;
	z-index:1;
	padding:90px 0;
	width:100%;
	// background:#fff url("../images/scroll.png") no-repeat center 50px;
}

.template-default #main {
	padding:200px 0;
}

#main:after {
	clear: both;
	content: " ";
	display: block;
}

.page-title {
	display: block;
	padding-bottom: 20px;
	width: 800px;
}

.page-title.text-align-center {
	margin:0 auto;
}	

.scrolltotop{
	width:60px; 
	height:60px;
	position:fixed;
	bottom:40px;
	right:40px;
	display:none;
	z-index:100;
	opacity:0.5;
	cursor:pointer;
}

.top-arrow {
	width:60px; 
	height:60px;
	background: #999;
	background-image:url("../images/top_arrow.png");
	background-size:22px 12px;
	background-repeat:no-repeat;
	background-position:center center;
	opacity:0.5;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.scrolltotop:hover .top-arrow {
	opacity:1;
}

#video-container {
	height:100%; 
	width:100%; 
	position:fixed;
}

#stopmovie {
	height:100%; 
	width:100%; 
	position:absolute; 
	z-index:0;
	cursor:pointer;
}

#playmovie {
	width:100%; 
	position:fixed;
	z-index:10;
	opacity:1;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position:center center;
	background-repeat:no-repeat;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#playmovie.hidden-play {
	opacity:0;
}

.play-icon {
	text-align:center;
	border:#fff 10px solid;
	width:100px;
	height:100px;
	margin:0 auto;
	border-radius:100px;
	cursor:pointer;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.play-icon:hover {
	border:#e11f26 10px solid;
}

.play-icon i {
	color: #fff;
	font-size: 36px;
	line-height: 100px;
	margin-left: 7px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.play-icon:hover i {
	color: #e11f26;
}
#controlBar_bgndVideo{
	display: none !important;
}

section {
	margin-left: -50%;
	padding-left: 50%;
	padding-right: 50%;
	position: relative;
	width: 100%;
	z-index: 0;
	display: inline-block;
}

section .overlay {
	margin-left: -50%;
	padding-left: 50%;
	padding-right: 50%;
	padding-top:150px;
	padding-bottom:150px;
	position: relative;
	width: 100%;
}

.parallax {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position:center center;
	background-repeat:no-repeat;
	background-attachment: fixed !important;
}




// Images at the bottom
#portfolio-wrap {
	width: 1000px;
	margin:0 auto;		
}

// #portfolio-wrap.no-gutter {
// 	width:1280px;
// 	margin:0 auto;		
// }

#portfolio {
	height: 250px;
	position: relative;
	width: 100%;
	-webkit-transition: height 0.3s ease-in-out;
	-moz-transition: height 0.3s ease-in-out;
	-o-transition: height 0.3s ease-in-out;
	-ms-transition: height 0.3s ease-in-out;
	transition: height 0.3s ease-in-out;
}

.item1 {
	background-color: rgb(238, 238, 238);
	position: absolute;
	left: 0px;
	top: 0px;
	width: 273px;
	height: 189.75px;
	margin: 30px;
	opacity: 1;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow:hidden;
}
.item2 {
	background-color: rgb(238, 238, 238);
	position: absolute;
	left: 333px;
	top: 0px;
	width: 273px;
	height: 189.75px;
	margin: 30px;
	opacity: 1;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow:hidden;
}
.item3 {
	background-color: rgb(238, 238, 238);
	position: absolute;
	left: 666px;
	top: 0px;
	width: 273px;
	height: 189.75px;
	margin: 30px;
	opacity: 1;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow:hidden;
}

.item-content {
	height:100%;
	width:100%;
	position:absolute;
	background-color:#fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align:center;
	padding:0px;
	background-size:cover;
	background-position:center center;
	overflow:hidden;
	display: table;
	-webkit-transform: scale(1.01);
	-moz-transform: scale(1.01);
	-o-transform: scale(1.01);
	-ms-transform: scale(1.01);
	transform: scale(1.01);
	-webkit-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
	-moz-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
	-o-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
	-ms-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
	transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
}

.item1:hover .item-content, .item2:hover .item-content, .item3:hover .item-content, .item4:hover .item-content, .item5:hover .item-content, .item6:hover .item-content, .item7:hover .item-content, .item8:hover .item-content, .item9:hover .item-content, .item10:hover .item-content, .item11:hover .item-content, .item12:hover .item-content, .item13:hover .item-content, .item14:hover .item-content, .item15:hover .item-content, .item16:hover .item-content, .item17:hover .item-content, .item18:hover .item-content, .item19:hover .item-content, .item20:hover .item-content, .item21:hover .item-content {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-transition: all 5s cubic-bezier(0.23, 1, 0.32, 1) 0s;
	-moz-transition: all 5s cubic-bezier(0.23, 1, 0.32, 1) 0s;
	-o-transition: all 5s cubic-bezier(0.23, 1, 0.32, 1) 0s;
	-ms-transition: all 5s cubic-bezier(0.23, 1, 0.32, 1) 0s;
	transition: all 5s cubic-bezier(0.23, 1, 0.32, 1) 0s;
}

.item-overlay {
	height:100%;
	width:100%;
	background:rgba(0,0,0,0);
	position:absolute;
	opacity:0;
	box-sizing:border-box;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;		
}

.padding-overlay {
	padding:0px;
	box-sizing:border-box;
	display:table;
	position:absolute;
	width:100%;
	height:100%;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.item1:hover .padding-overlay, .item2:hover .padding-overlay, .item3:hover .padding-overlay, .item4:hover .padding-overlay, .item5:hover .padding-overlay, .item6:hover .padding-overlay, .item7:hover .padding-overlay, .item8:hover .padding-overlay, .item9:hover .padding-overlay, .item10:hover .padding-overlay, .item11:hover .padding-overlay, .item12:hover .padding-overlay, .item13:hover .padding-overlay, .item14:hover .padding-overlay, .item15:hover .padding-overlay, .item16:hover .padding-overlay, .item17:hover .padding-overlay, .item18:hover .padding-overlay, .item19:hover .padding-overlay, .item20:hover .padding-overlay, .item21:hover .padding-overlay {
	padding:30px;
	-webkit-transition: all 0.2s ease-in-out 0.1s;
	-moz-transition: all 0.2s ease-in-out 0.1s;
	-o-transition: all 0.2s ease-in-out 0.1s;
	-ms-transition: all 0.2s ease-in-out 0.1s;
	transition: all 0.2s ease-in-out 0.1s;
}

.padding-overlay .item-overlay {
	display:table-cell;
	position:relative;
	overflow:hidden;
	text-align:center;
	vertical-align:middle;
}

.item1:hover .item-overlay, .item2:hover .item-overlay, .item3:hover .item-overlay, .item4:hover .item-overlay, .item5:hover .item-overlay, .item6:hover .item-overlay, .item7:hover .item-overlay, .item8:hover .item-overlay, .item9:hover .item-overlay, .item10:hover .item-overlay, .item11:hover .item-overlay, .item12:hover .item-overlay, .item13:hover .item-overlay, .item14:hover .item-overlay, .item15:hover .item-overlay, .item16:hover .item-overlay, .item17:hover .item-overlay, .item18:hover .item-overlay, .item19:hover .item-overlay, .item20:hover .item-overlay, .item21:hover .item-overlay {
	background:rgba(0,0,0,0.8);
	opacity:1;
}

.item1:hover .item-overlay.overlay-white, .item2:hover .item-overlay.overlay-white, .item3:hover .item-overlay.overlay-white, .item4:hover .item-overlay.overlay-white, .item5:hover .item-overlay.overlay-white, .item6:hover .item-overlay.overlay-white, .item7:hover .item-overlay.overlay-white, .item8:hover .item-overlay.overlay-white, .item9:hover .item-overlay.overlay-white, .item10:hover .item-overlay.overlay-white, .item11:hover .item-overlay.overlay-white, .item12:hover .item-overlay.overlay-white, .item13:hover .item-overlay.overlay-white, .item14:hover .item-overlay.overlay-white, .item15:hover .item-overlay.overlay-white, .item16:hover .item-overlay.overlay-white, .item17:hover .item-overlay.overlay-white, .item18:hover .item-overlay.overlay-white, .item19:hover .item-overlay.overlay-white, .item20:hover .item-overlay.overlay-white, .item21:hover .item-overlay.overlay-white {
	background:rgba(255,255,255,0.9);
}

.item1 .item-overlay.overlay-gradient, .item2 .item-overlay.overlay-gradient, .item3 .item-overlay.overlay-gradient, .item4 .item-overlay.overlay-gradient, .item5 .item-overlay.overlay-gradient, .item6 .item-overlay.overlay-gradient, .item7 .item-overlay.overlay-gradient, .item8 .item-overlay.overlay-gradient, .item9 .item-overlay.overlay-gradient, .item10 .item-overlay.overlay-gradient, .item11 .item-overlay.overlay-gradient, .item12 .item-overlay.overlay-gradient, .item13 .item-overlay.overlay-gradient, .item14 .item-overlay.overlay-gradient, .item15 .item-overlay.overlay-gradient, .item16 .item-overlay.overlay-gradient, .item17 .item-overlay.overlay-gradient, .item18 .item-overlay.overlay-gradient, .item19 .item-overlay.overlay-gradient, .item20 .item-overlay.overlay-gradient, .item21 .item-overlay.overlay-gradient  {
	background: rgb(111,226,158); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(111,226,158,0.8) 0%, rgba(91,218,209,0.8) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(111,226,158,0.8)), color-stop(100%,rgba(91,218,209,0.8))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(111,226,158,0.8) 0%,rgba(91,218,209,0.8) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(111,226,158,0.8) 0%,rgba(91,218,209,0.8) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(111,226,158,0.8) 0%,rgba(91,218,209,0.8) 100%); /* IE10+ */
	background: linear-gradient(135deg,  rgba(111,226,158,0.8) 0%,rgba(91,218,209,0.8) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6fe29e', endColorstr='#5bdad1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	opacity:0;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}

.item1:hover .item-overlay.overlay-gradient, .item2:hover .item-overlay.overlay-gradient, .item3:hover .item-overlay.overlay-gradient, .item4:hover .item-overlay.overlay-gradient, .item5:hover .item-overlay.overlay-gradient, .item6:hover .item-overlay.overlay-gradient, .item7:hover .item-overlay.overlay-gradient, .item8:hover .item-overlay.overlay-gradient, .item9:hover .item-overlay.overlay-gradient, .item10:hover .item-overlay.overlay-gradient, .item11:hover .item-overlay.overlay-gradient, .item12:hover .item-overlay.overlay-gradient, .item13:hover .item-overlay.overlay-gradient, .item14:hover .item-overlay.overlay-gradient, .item15:hover .item-overlay.overlay-gradient, .item16:hover .item-overlay.overlay-gradient, .item17:hover .item-overlay.overlay-gradient, .item18:hover .item-overlay.overlay-gradient, .item19:hover .item-overlay.overlay-gradient, .item20:hover .item-overlay.overlay-gradient, .item21:hover .item-overlay.overlay-gradient {
	background: rgb(111,226,158); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(111,226,158,0.8) 0%, rgba(91,218,209,0.8) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(111,226,158,0.8)), color-stop(100%,rgba(91,218,209,0.8))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(111,226,158,0.8) 0%,rgba(91,218,209,0.8) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(111,226,158,0.8) 0%,rgba(91,218,209,0.8) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(111,226,158,0.8) 0%,rgba(91,218,209,0.8) 100%); /* IE10+ */
	background: linear-gradient(135deg,  rgba(111,226,158,0.8) 0%,rgba(91,218,209,0.8) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6fe29e', endColorstr='#5bdad1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	opacity:1;
}

.item-cat {
	display:block;
	font-family: 'Titillium Web' ;
	font-weight:400;
	font-size:13px;
	text-transform:uppercase;
	margin-left:-100%;
	margin-top:0;
	color:#444;		
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.padding-overlay .item-cat {
	margin:0 20px 5px 20px;
	opacity:0;
	-ms-transform: translateY(-20px);
	-webkit-transform: translateY(-20px);
	-o-transition:translateY(-20px);
	transform: translateY(-20px);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.item-overlay.overlay-gradient .item-cat {
	color:#fff;
}

.item1:hover .item-cat, .item2:hover .item-cat, .item3:hover .item-cat, .item4:hover .item-cat, .item5:hover .item-cat, .item6:hover .item-cat, .item7:hover .item-cat, .item8:hover .item-cat, .item9:hover .item-cat, .item10:hover .item-cat, .item11:hover .item-cat, .item12:hover .item-cat, .item13:hover .item-cat, .item14:hover .item-cat, .item15:hover .item-cat, .item16:hover .item-cat, .item17:hover .item-cat, .item18:hover .item-cat, .item19:hover .item-cat, .item20:hover .item-cat, .item21:hover .item-cat {
	margin-left:30px;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}

.item1:hover .padding-overlay .item-cat, .item2:hover .padding-overlay .item-cat, .item3:hover .padding-overlay .item-cat, .item4:hover .padding-overlay .item-cat, .item5:hover .padding-overlay .item-cat, .item6:hover .padding-overlay .item-cat, .item7:hover .padding-overlay .item-cat, .item8:hover .padding-overlay .item-cat, .item9:hover .padding-overlay .item-cat, .item10:hover .padding-overlay .item-cat, .item11:hover .padding-overlay .item-cat, .item12:hover .padding-overlay .item-cat, .item13:hover .padding-overlay .item-cat, .item14:hover .padding-overlay .item-cat, .item15:hover .padding-overlay .item-cat, .item16:hover .padding-overlay .item-cat, .item17:hover .padding-overlay .item-cat, .item18:hover .padding-overlay .item-cat, .item19:hover .padding-overlay .item-cat, .item20:hover .padding-overlay .item-cat, .item21:hover .padding-overlay .item-cat {
	margin:0 20px 5px 20px;
	opacity:1;
	-ms-transform: translateY(0px);
	-webkit-transform: translateY(0px);
	-o-transition:translateY(0px);
	transform: translateY(0px);
	-webkit-transition: all 0.5s ease-in-out 0.5s;
	-moz-transition: all 0.5s ease-in-out 0.5s;
	-o-transition: all 0.5s ease-in-out 0.5s;
	-ms-transition: all 0.5s ease-in-out 0.5s;
	transition: all 0.5s ease-in-out 0.5s;
}

.item-title {
	display:block;
	position:relative;
	font-weight: 600;
	font-family: 'Titillium Web', sans-serif;
	color:#fff;
	font-size:18px;
	line-height:18px;
	text-transform:uppercase;
	margin-left:-100%;
	margin-top:30px;
	margin-right:28px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.padding-overlay .item-title {
	margin:30px 20px 0px 20px;
	-ms-transform: translateY(20px);
	-webkit-transform: translateY(20px);
	-o-transition:translateY(20px);
	transform: translateY(20px);
	opacity:0;
	font-size:18px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.item-overlay.overlay-white .item-title {
	color:#000;
}

.item1:hover .item-title, .item2:hover .item-title, .item3:hover .item-title, .item4:hover .item-title, .item5:hover .item-title, .item6:hover .item-title, .item7:hover .item-title, .item8:hover .item-title, .item9:hover .item-title, .item10:hover .item-title, .item11:hover .item-title, .item12:hover .item-title, .item13:hover .item-title, .item14:hover .item-title, .item15:hover .item-title, .item16:hover .item-title, .item17:hover .item-title, .item18:hover .item-title, .item19:hover .item-title, .item20:hover .item-title, .item21:hover .item-title {
	margin-left:28px;
	-webkit-transition: all 0.6s ease-in-out 0.3s;
	-moz-transition: all 0.6s ease-in-out 0.3s;
	-o-transition: all 0.6s ease-in-out 0.3s;
	-ms-transition: all 0.6s ease-in-out 0.3s;
	transition: all 0.6s ease-in-out 0.3s;
}

.item1:hover .padding-overlay .item-title, .item2:hover .padding-overlay .item-title, .item3:hover .padding-overlay .item-title, .item4:hover .padding-overlay .item-title, .item5:hover .padding-overlay .item-title, .item6:hover .padding-overlay .item-title, .item7:hover .padding-overlay .item-title, .item8:hover .padding-overlay .item-title, .item9:hover .padding-overlay .item-title, .item10:hover .padding-overlay .item-title, .item11:hover .padding-overlay .item-title, .item12:hover .padding-overlay .item-title, .item13:hover .padding-overlay .item-title, .item14:hover .padding-overlay .item-title, .item15:hover .padding-overlay .item-title, .item16:hover .padding-overlay .item-title, .item17:hover .padding-overlay .item-title, .item18:hover .padding-overlay .item-title, .item19:hover .padding-overlay .item-title, .item20:hover .padding-overlay .item-title, .item21:hover .padding-overlay .item-title {
	margin:5px 20px 0px 20px;
	opacity:1;
	-ms-transform: translateY(0px);
	-webkit-transform: translateY(0px);
	-o-transition:translateY(0px);
	transform: translateY(0px);
	-webkit-transition: all 0.5s ease-in-out 0.5s;
	-moz-transition: all 0.5s ease-in-out 0.5s;
	-o-transition: all 0.5s ease-in-out 0.5s;
	-ms-transition: all 0.5s ease-in-out 0.5s;
	transition: all 0.5s ease-in-out 0.5s;
}

.item-cat:after {
	background: none repeat scroll 0 0 #666;
	bottom: -20px;
	content: "";
	height: 1px;
	left: 1px;
	position: absolute;
	width: 40px;
	opacity:0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.padding-overlay .item-cat:after {
	content: "";
	height: 0px;
}

.item-overlay.overlay-white .item-cat:after {
	background: none repeat scroll 0 0 rgba(0,0,0,0.2);
}

.item-overlay.overlay-gradient .item-cat:after {
	background: none repeat scroll 0 0 rgba(255,255,255,0.4);
}

.item1:hover .item-cat:after, .item2:hover .item-cat:after, .item3:hover .item-cat:after, .item4:hover .item-cat:after, .item5:hover .item-cat:after, .item6:hover .item-cat:after, .item7:hover .item-cat:after, .item8:hover .item-cat:after, .item9:hover .item-cat:after, .item10:hover .item-cat:after, .item11:hover .item-cat:after, .item12:hover .item-cat:after, .item13:hover .item-cat:after, .item14:hover .item-cat:after, .item15:hover .item-cat:after, .item16:hover .item-cat:after, .item17:hover .item-cat:after, .item18:hover .item-cat:after, .item19:hover .item-cat:after, .item20:hover .item-cat:after, .item21:hover .item-cat:after {
	opacity:1;
	bottom: -15px;
	-webkit-transition: all 0.2s ease-in-out 0.9s;
	-moz-transition: all 0.2s ease-in-out 0.9s;
	-o-transition: all 0.2s ease-in-out 0.9s;
	-ms-transition: all 0.2s ease-in-out 0.9s;
	transition: all 0.2s ease-in-out 0.9s;
}
