<div id="content">
  <div class="top-parallax" style="background-image:url('../../../assets/img/longboards/tech/longboard-tech.jpg')"></div>
  
  <div id="main">
    <div class="container">
      <h1 class="text-align-center title-has-line">Longboard Tech</h1>

      <div id="tech-items">
<!--Row 1-->
<!--1-->
						<div class="one_third has-animation" data-animation="fade-in" data-delay="200">
							<div class="services-icon">
								<i class="fa fa-square"></i>
								<div class="service-info-text">
									<h5>3/4&quot; Drop-Down and Drop-Thru</h5>
									<p>The combination of a drop-down and drop-thru deck lowers the board to the ground for optimum stability.</p>
								</div>
							</div>
						</div>
<!--2-->
						<div class="one_third has-animation" data-animation="fade-in" data-delay="200">
							<div class="services-icon">
								<i class="fa fa-cube"></i>
								<div class="service-info-text">
									<h5>3-D Molded Base</h5>
									<p>Sublimated base sheet and fiberglass are pressed seamlessly against our contours and channels of the CNC machined wood core.</p>
								</div>
							</div>
						</div>
<!--3-->
						<div class="one_third has-animation last" data-animation="fade-in" data-delay="200">
							<div class="services-icon">
								<i class="fa fa-times-circle"></i>
								<div class="service-info-text">
									<h5>Biaxial Fiberglass</h5>
									<p>Biaxial Fiberglass is a 0/90 degree layered fiberglass for strength and torsional rigidity. Biaxial has a layer of vertical fibers with a layer of horizontal fibers stacked on top, making the fiberglass strong and snappy.</p>
								</div>
							</div>
						</div>

<!--Row 2-->
<!--4-->
						<div class="one_third has-animation" data-animation="fade-in" data-delay="200">
							<div class="services-icon">
								<i class="fa fa-chevron-up"></i>
								<div class="service-info-text">
									<h5>Camber</h5>
									<p>A lifted point in the board that gives the ability to be able to load up and snap or pop.&nbsp;</p>
								</div>
							</div>
						</div>
<!--5-->
						<div class="one_third has-animation" data-animation="fade-in" data-delay="200">
							<div class="services-icon">
								<i class="fa fa-chain"></i>
								<div class="service-info-text">
									<h5>CNC Machined Fiberglass Reinforced Wheel Wells</h5>
									<p>Wheel wells are molded, flared and machined out to reduce wheel bite and create foot pockets while being reinforced with fiberglass for durability.</p>
								</div>
							</div>
						</div>
<!--6-->
						<div class="one_third has-animation last" data-animation="fade-in" data-delay="200">
							<div class="services-icon">
								<i class="fa fa-sort"></i>
								<div class="service-info-text">
									<h5>Composite Construction</h5>
									<p>The multi laminated maple veneers are reinforced with a biaxial fiberglass.</p>
								</div>
							</div>
						</div>

<!--Row 3-->
<!--7-->
						<div class="one_third has-animation" data-animation="fade-in" data-delay="200">
							<div class="services-icon">
								<i class="fa fa-eraser"></i>
								<div class="service-info-text">
									<h5>Dual Core Technology</h5>
									<p>Two vertically laminated Poplar wood cores are sandwiched together for the perfect ratio of lightweight and durability.&nbsp;</p>
								</div>
							</div>
						</div>
<!--8-->
						<div class="one_third has-animation" data-animation="fade-in" data-delay="200">
							<div class="services-icon">
								<i class="fa fa-road"></i>
								<div class="service-info-text">
									<h5>Grab Rails</h5>
									<p>Strategically placed rails on the outermost edge of the board, giving you a place to grab on slides, tricks and do whatever you would like!</p>
								</div>
							</div>
						</div>
<!--9-->
						<div class="one_third has-animation last" data-animation="fade-in" data-delay="200">
							<div class="services-icon">
								<i class="fa fa-arrow-circle-o-down"></i>
								<div class="service-info-text">
									<h5>Micro Drop</h5>
									<p>A literal “micro drop” just before the wheel base. Machined and molded wood core to lower your ride height and create a locked in foot pocket for ultimate control.
									</p>
								</div>
							</div>
						</div>

<!--Row 4-->
<!--10-->
						<div class="one_third has-animation" data-animation="fade-in" data-delay="200">
							<div class="services-icon">
								<i class="fa fa-circle"></i>
								<div class="service-info-text">
									<h5>Multi Core Technology</h5>
									<p>Combination of horizontal maple veneers with vertically laminated wood core. This allows for a lightweight, strong board while allowing for contours and a mirco-drop.</p>
								</div>
							</div>
						</div>
<!--11-->
						<div class="one_third has-animation" data-animation="fade-in" data-delay="200">
							<div class="services-icon">
								<i class="fa fa-exchange"></i>
								<div class="service-info-text">
									<h5>Multi Horizontal Maple Veneer Core Technology</h5>
									<p>Classic skateboard construction for a sturdy and solid ride. This core has multiple layers of horizontal maple veneers, making the board a little thicker but also making it more stable.</p>
								</div>
							</div>
						</div>
<!--12-->
						<div class="one_third has-animation last" data-animation="fade-in" data-delay="200">
							<div class="services-icon">
								<i class="fa fa-certificate"></i>
								<div class="service-info-text">
									<h5>Patented Contour Technology</h5>
									<p>Laser guided CNC channeled wood cores providing structural strength and integrity while reducing weight and enhancing performance.</p>
								</div>
							</div>
						</div>

<!--Row 5-->
<!--13-->
						<div class="one_third has-animation" data-animation="fade-in" data-delay="200">
							<div class="services-icon">
								<i class="fa fa-chevron-down"></i>
								<div class="service-info-text">
									<h5>Rocker</h5>
									<p>Subtle belly rocker is placed in the board. This is dropped down rocker is pressed in the board to lower your center of gravity and add stability.</p>
								</div>
							</div>
						</div>
<!--14-->
						<div class="one_third has-animation" data-animation="fade-in" data-delay="200">
							<div class="services-icon">
								<i class="fa fa-bolt"></i>
								<div class="service-info-text">
									<h5>Split Core Technology</h5>
									<p>Similar to Multi Core Technology, Split Core Technology has vertically laminated Poplar that is sandwiched with vertical maple veneers creating our most flexible yet lightest weight wood core.</p>
								</div>
							</div>
						</div>
<!--15-->
						<div class="one_third has-animation last" data-animation="fade-in" data-delay="200">
							<div class="services-icon">
								<i class="fa fa-arrows-v"></i>
								<div class="service-info-text">
									<h5>Vertical Laminate Core Technology</h5>
									<p>A single vertically laminated Poplar wood core. This makes the longboard snappy yet super light. Because of the single core, it makes the board a little more flexible as well.</p>
								</div>
							</div>
						</div>

<!--Row 6-->
<!--16-->
						<div class="one_third has-animation" data-animation="fade-in" data-delay="200">
							<div class="services-icon">
								<i class="fa fa-angle-double-up"></i>
								<div class="service-info-text">
									<h5>'W' Concave</h5>
									<p>A ‘W’ shape on the top of the deck creating natural foot holds and helps to create a natural foot pocket on the front and back of the board.</p>
								</div>
							</div>
						</div>

			</div>
    </div>
  </div>
  
</div>
